_algolia_api_key
.gem/
/_site
.sass-cache
.DS_Store
.tags
.tags1
.ruby-version
jekyll-algolia-*
**/.asset_pipeline
.jekyll-cache
.vscode
.jekyll-metadata

# Jetbrains IDEs
.idea/
braze-docs.iml

# Braze scripts
scripts/temp
node_modules
