# Site settings
title: Braze Documentation
email: success@braze.com
description: >- # this means to ignore newlines until "baseurl:"
  Welcome to Braze Documentation. Braze provides a comprehensive user engagement solution for your mobile apps.
baseurl: "/docs" # the subpath of your site, e.g., /blog
homeurl: "https://www.braze.com" # the base hostname & protocol for your site, e.g., http://example.com
twitter_username: Braze
github_username: braze-inc

language: en

# Braze Web SDK Key
api_key: "c574d66e-2a74-4ef2-b2f0-ae004a66f682"

# statuspage.io Key
status_io_key: "c947v6z63ltm"

# Google Tag Key
gta_tag_key: "GTM-W8DKT4D"

# Source dir
source: "."

# Build settings
markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: "highlight"
    span:
      line_numbers: false
    block:
      line_numbers: true

plugins:
  - jekyll-algolia

# Allows the DocSearch element to be inspected. Set to true locally, but don't
# check in in that state, or it will cause undesirable behavior in prod.
search_debug: false

# For local testing, set to false to increase build time by not pulling partner api
# and markdown data. MAKE SURE TO TURN BACK ON PRIOR TO COMMIT.
partner_api: true
markdown_api: true

# CLA Endpoint
cla_url: "https://c9616da7-4322-4bed-9b51-917c1874fb31.trayapp.io/cla"

# GitHub config
github_baseurl: "https://github.com/braze-inc/braze-docs/blob/develop/_docs/"
github_icon: "GitHub-Mark-32px.png"

plugins_dir: ["./_plugins"]

# Collections directory
collections_dir: _docs

# variable for page ordering
page_order: page_order

collections:
  home:
    title: Home
    output: true
    default_nav_url: ""
    page_order: 1
  user_guide:
    title: User Guide
    output: true
    default_nav_url: introduction/
    page_order: 2
  developer_guide:
    title: Developer Guide
    output: true
    default_nav_url: home/
    page_order: 3
  api:
    title: API
    output: true
    default_nav_url: home/
    page_order: 4
  partners:
    title: Technology Partners
    output: true
    default_nav_url: home/
    page_order: 5
  releases:
    title: Release Notes
    output: true
    default_nav_url: home/
    page_order: 6
  help:
    output: true
    default_nav_url: home/
  contributing:
    output: true
    default_nav_url: contributing/
  hidden: # Hidden pages not directly linked via navigation
    title: Braze
    output: true
    hidden: true
  docs_pages: # Site specific pages. ie main redirects and search
    title: Braze
    output: true
    hidden: true

# default collections layout
# Note using path glub cause increase build time.
# Use type = collection for better performance
defaults:
  - scope:
      path: ""
    values:
      layout: "documents"
      default_nav_url: home/
      search_rank: 0
      toc_minheaders: 2
      toc_headers: "h2, h3"
  - scope:
      path: ""
      type: "home"
    values:
      nav_level: 1
  - scope:
      path: ""
      type: "user_guide"
    values:
      nav_level: 1
  - scope:
      path: ""
      type: "developer_guide"
    values:
      nav_level: 1
  - scope:
      path: ""
      type: "api"
    values:
      nav_level: 1
  - scope:
      path: ""
      type: "partners"
    values:
      nav_level: 1
  - scope:
      path: ""
      type: "help"
    values:
      nav_level: 1
  - scope:
      path: ""
      type: "contributing"
    values:
      nav_level: 1
  - scope:
      path: ""
      type: "hidden"
    values:
      hide_feedback: true
      hide_nav: true
  - scope:
      path: ""
      type: "docs_pages"
    values:
      layout: "bare"
      hide_nav: true
      hide_nav_filter: true
      hide_feedback: true

# same as permalink: pretty
permalink: ./:collection/:path/
#permalink: /:platform/:nav_title/
permalink_custom_vars: ["nav_title"]

# List of pages(path) to auto expand. For help, see:
#   braze.com/docs/contributing/content_management/sections/#forcing-auto-expand
nav_expand_list:
  - "/null"

# Don't serve non-jekyll files
exclude:
  [
    "app",
    "bin",
    "db",
    "lib",
    "log",
    "test",
    "tmp",
    "vendor",
    "config.ru",
    "Gemfile",
    "Gemfile.lock",
    "readme.md",
    "Procfile",
    "Rakefile",
    "vendor",
    "config",
    "404.html",
    "public",
    "proxy.rb",
    "*.log",
    "MigrationTool",
    "Archive",
    "documentation",
    "academy",
    ".sass-cache",
    ".git",
    ".vscode",
    "system.properties",
    "CODE_OF_CONDUCT.md",
    "CONTRIBUTING.md",
    "LICENSE.md",
    "_site",
    "vercel.json",
    "scripts",
  ]

# Setting for image buster
image_buster:
  dev: false
  paths:
    - "/assets/img/*.*"

# Image asset pipeline setting for japr
asset_pipeline:
  bundle: true
  compress: true
  output_path: assets
  display_path: docs/assets
  gzip: false

learning_index_name: "BrazeLearningCourses"

# Algolia Search index
algolia:
  algolia_api_key: "ef2b60b317325b3227caabd0c9431d4b" # Read only algolia public search key
  application_id: "1T770XQJ1A"
  index_name: "DocSearch" # You can replace that with whatever name you want
  nodes_to_index: "p,h1,h2,h3,h4,h5,h6,tr,pre,details"
  max_record_size: 20000
  settings:
    searchableAttributes:
      - article_title
      - nav_title
      - unordered(headings)
      - unordered(content)
      - unordered(description)
    attributesForFaceting:
      - searchable(article_title)
      - searchable(category)
      - searchable(channel)
      - searchable(collection)
      - searchable(headings)
      - searchable(nav_title)
      - searchable(platform)
      - searchable(type)
      - searchable(url)
    customRanking:
      - desc(article_title)
      - desc(custom_ranking.heading)
      - desc(custom_ranking.position)
  extensions_to_index:
    - html
    - md
    - markdown
  files_to_exclude:
    - _docs/_hidden/*
    - _docs/_hidden/*/* #exclude hidden subdirectories from indexing
    - _docs/_hidden/*/*/* #exclude additional hidden subdirectories from indexing
    - _docs/_docs_pages/*
    - _docs/_docs_pages/*/* #exclude hidden subdirectories from indexing
    - _docs/_docs_pages/*/*/* #exclude additional hidden subdirectories from indexing
    - _docs/_home/Styling_Test_Page.md
