<!-- <script src="{{site.baseurl}}/assets/js/algolia_main_search.js?{{site.time | date: '%s'}}" ></script> -->
<script src="{{site.baseurl}}/assets/js/su_main_search.js" ></script>

<script type="text/javascript" src="https://d3afgxkm1vz2tp.cloudfront.net/217433e2c4c2797776e373f19d94feff/search-clients/63590d8d-65fd-11f0-ada3-0242ac120007/an.js"></script>
<script type="text/javascript" src="https://d3afgxkm1vz2tp.cloudfront.net/217433e2c4c2797776e373f19d94feff/search-clients/63590d8d-65fd-11f0-ada3-0242ac120007/searchbox.js"></script>
<div id="auto1">
    <div ng-controller="SearchautoController">
      <div bind-html-compile="autocompleteHtml"></div>
    </div>
</div>