<div class="gitedit_div">
    <a href="{{site.github_baseurl}}{{page.relative_path }}" class="extignore" target="_blank">
        <img src="{{site.baseurl}}/assets/img/{{site.github_icon}}" alt="Github" /> &nbsp; {{ site.data.i18n[site.language]['edit_github'] | default: "Edit this page on GitHub" }}
    </a>
</div>

<div id="feedback">
    {%- if include.title -%}
    <div id="feedback_title">{{ include.title | upcase }} </div>
    {%- else -%}
    <div id="feedback_title"> {{ site.data.i18n[site.language]['helpful'] | default: "WAS THIS PAGE HELPFUL?" }} </div>
    {%- endif -%}

    <div id="feedback_answer">
      <ul class="list-inline rating-list">
        <li class="inline-thumb" tabindex="0"><i class="far fa-thumbs-up" data-value="Very Helpful" title="Very Helpful"></i></li>
        <li class="inline-thumb" tabindex="0"><i class="far fa-thumbs-down" data-value="Very Unhelpful" title="Very Unhelpful"></i></li>
      </ul>
    </div>
    <div id="feedback_comment_div">
        <div>
            <textarea id="feedback_comment" placeholder="How can we improve this page?"></textarea>
        </div>
        <button type="submit" name="submit_feedback" value="SUBMIT FEEDBACK" class="btn btn-black" id="feedback_submit_button" role="button"> SUBMIT FEEDBACK </button>

    </div>
    <div id="feedback_msg">
    </div>

</div>


<script type="text/javascript">
    var feedback_site = '{{site.baseurl}}{{page.url}}';
    var feedback_article_title = '{{page.article_title}}';
    var feedback_nav_title = '{{page.nav_title}}';
</script>
