<div class="gitedit_div">
    <a href="{{site.github_baseurl}}{{page.relative_path }}" class="extignore" target="_blank">
        <img src="{{site.baseurl}}/assets/img/{{site.github_icon}}" /> &nbsp; Edit this page on GitHub
    </a>
</div>

<div id="feedback">
    {%- if include.title -%}
    <div id="feedback_title">{{ include.title | upcase }} </div>
    {%- else -%}
    <div id="feedback_title">WAS THIS PAGE HELPFUL? </div>
    {%- endif -%}

    <div id="feedback_answer">
        <a href="#" id="feedback_helpful_yes" data-value="Yes">
            <i class="fas fa-thumbs-up"></i>Yes</a>
        <a href="#" id="feedback_helpful_no" data-value="No">
            <i class="fas fa-thumbs-down"></i> No
        </a>
    </div>
    <div id="feedback_comment_div">
        <div>
            <textarea id="feedback_comment" placeholder="Tell us how we can improve this page...">
</textarea>
        </div>
        <button type="submit" name="submit_feedback" value="SUBMIT FEEDBACK" class="btn btn-black" id="feedback_submit_button" role="button"> SUBMIT FEEDBACK </button>

    </div>
    <div id="feedback_msg">
    </div>

</div>


<script type="text/javascript">
    var feedback_site = '{{site.baseurl}}{{page.url}}';
</script>