

{% css_asset_tag search %}
- /assets/css/search_page.scss
{% endcss_asset_tag  %}


<div id="search_page">
  <div class="container">
    <div class="row flex-xl-nowrap">
      <div class="col-12">
        {%- unless include.urlsearch -%}
        <h1 style="padding-top:40px;color: #212123;">Advanced Search </h1>
        {%- endunless -%}
        <div id="search_box" value="" name="search_box" style="width: 100%;"> </div>
        <div id="search_stats"></div>
    </div>
  </div>
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-4">
      <div> <div class="search_refinement_title">Type</div>
     <div id="search_type"></div>
     </div>
     <div><div class="search_refinement_title">Category</div>
     <div id="search_category"></div>
     </div>
    <div id="clear-all"></div>


    </div>

    <div class="col">


    <div id="search_hits"></div>
    <div id="search_pagination"></div>

    </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var searchbox = '#search_box';

    $.urlParam = function(name) {
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
      if (results == null) {
        return null;
      } else {
        return decodeURI(results[1]) || 0;
      }
    }

    var autofilllist = {
      'q': [searchbox, '#menu_search']
    };


    $.each(autofilllist, function(k, v) {

      if ($.urlParam(k)) {
        for (var i = 0; i < v.length; i++) {
          $(v[i]).val($.urlParam(k).replace(/\+/g, ' ').replace(/\%20/g, ' ').replace(/\%2F/g,'/'));
        }
      };
      {% if include.urlsearch %}
      var currenturl = window.location;
      var urlsearch = ''
      if (!urlsearch) {
        var path = currenturl.pathname.split('/');
        var urlsearch = path[path.length - 1];
        if (!urlsearch) {
          urlsearch = path[path.length - 2];
        }
      }
      if (currenturl.hash) {
        urlsearch += ' ' + currenturl.hash.replace('#', '');
      }
      if (urlsearch) {
        $(searchbox).val(urlsearch.sanitize());
      }
      {% endif %}

    });

    function string_to_slug (str) {
      str = str.toLowerCase().replace(/\s/g, '-').replace(/[^\w-]/g, '');
      return str;
    }

    String.prototype.upCaseWord = function() {
      return this.toString().replace(/\b\w/g, function(l){ return l.toUpperCase() });
    };
    String.prototype.replaceUnder = function() {
      return this.toString().replace(/\%20/g, ' ').replace(/\_/g, ' ');
    };
    Array.prototype.replaceUnder = function() {
      return this.map(function(itm){ return itm.toString().replace(/\%20/g, ' ').replace(/\_/g, ' ')});
    };
    Array.prototype.upCaseWord = function() {
      return this.map(function(itm){ return itm.toString().replace(/\b\w/g, function(l){ return l.toUpperCase() }) });
    };
    function adjustlabel(data) {
      return data.map(d => {
        d.highlighted = d.highlighted.replace(/\_/g,' ').replaceUnder().upCaseWord().mapReplace(wordmap)
        return d;
      });
    }
    function hitTemplate(hit) {
      var content = '';
      var title = '';
      var type = '';
      var category = '';
      var platform = '';
      var subname = '';
      var heading = '';

      if ('nav_title' in hit) {
        title = hit.nav_title.replaceUnder() ;
      } else {
        title = hit.title.replaceUnder() ;
      }
      if ('type' in hit) {
        type = hit.type.replaceUnder().upCaseWord() ;
      }
      if ('category' in hit) {
        if (Array.isArray(hit.category)) {
          category = hit.category.map(x => x.replaceUnder() ).join(',');
        }
        else {
          category = hit.category.replaceUnder() ;
        }
      }
      if ('platform' in hit) {
        if (Array.isArray(hit.platform)) {
          platform = hit.platform.map(x => x.replaceUnder() ).join(',');
        }
        else {
          platform = hit.platform.replaceUnder() ;
        }
      }
      if (platform || category) {
        subname = '(' + type + ': ' + platform;
        if (platform) {
          subname += ' - ';
        }
        subname += category.upCaseWord() + ')';
      }

      if ('headings' in hit) {
        if (hit['headings']) {
          heading = hit['headings'][hit['headings'].length - 1];
        }
      }

      if ('content' in hit._highlightResult) {
        if ('value' in hit._highlightResult.content) {
          content = hit._highlightResult.content.value.replace(/<(.|\n)*?>/g, '');
        }
      }

      var url = hit.url;
      if (heading){
        url += '#' + string_to_slug(heading);
      }
      return `<div class="hit"><a href="{{site.baseurl}}${url}"><div class="hit-content"><div><div class="hit-name">${title } </div> <div class="hit-subname">${subname} </div><div class="hit-description">${ content }</div></div></div></a><hr /></div>`;
    }
    String.prototype.mapReplace = function(map) {
      var mstr = this;
      for (var wd in map) {
        if (map.hasOwnProperty(wd)) {
            var rep = new RegExp('\\b' + wd + '\\b','gi');
            mstr = mstr.replace(rep,map[wd]);
        }
      }
      return mstr;
    };
    String.prototype.sanitize = function() {
      return this.replace(/\+/g, ' ').replace(/\%20/g, ' ').replace(/\_/g, ' ').replace(/</g,'').replace(/>/g,'').replace(/&lt;/g,'').replace(/&gt;/g,'').replace(/\'/g,'').replace(/\"/g,'');
    };

    String.prototype.upCaseWord = function() {
      return this.toString().replace(/\b\w/g, function(l){ return l.toUpperCase() });
    };


    var wordmap = {
      'REST' : 'REST',
      'API' : 'API',
      'APIs' : 'APIs',
      'iOS' : 'iOS',
      'ID' : 'ID',
      'IDs' : 'IDs',
      'FAQ' : 'FAQ',
      'FAQS' : 'FAQs',
      'In-App' : 'In-App',
      'GPDR' : 'GPDR',
      'mParticle' : 'mParticle'
    }
    const searchClient = algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.algolia_api_key }}');
    var instant_search = instantsearch({
      indexName: "{{ site.algolia.index_name }}",
      searchClient,
      routing: {
        stateMapping: {
          stateToRoute(uiIState) {
            const uiState = uiIState['DocSearch'];
            return {
              query: uiState.query || $.urlParam('q '),
              // we use the character ~ as it is one that is rarely present in data and renders well in urls
              types: uiState.refinementList && uiState.refinementList.type && uiState.refinementList.type.join('~'),
              categories: uiState.refinementList && uiState.refinementList.category && uiState.refinementList.category.join('~'),
              page: uiState.page
            };
          },
          routeToState(routeState) {
            return {
              "DocSearch" : {
                query: routeState.query || $.urlParam('q'),
                refinementList: {
                  type: routeState.types && routeState.types.split('~'),
                  category: routeState.categories && routeState.categories.split('~')
                },
                page: routeState.page
              }
            };
          }
        }
      },
    });

    instant_search.addWidgets([
      instantsearch.widgets.searchBox({
        container: searchbox,
      }),
      instantsearch.widgets.configure({
        hitsPerPage: 10,
      }),
      instantsearch.widgets.clearRefinements({
        container: '#clear-all',
        templates: {
          resetLabel: 'Reset Filters',
        },
      }),
      instantsearch.widgets.refinementList({
        container: '#search_category',
        limit: 20,
        attribute: 'category',
        templates: {
          label: '<div>Category</div>',
        },
        transformItems(items) {
          return adjustlabel(items)
        }
      }),
      instantsearch.widgets.hits({
        container: '#search_hits',
        attributesToSnippet: ["description:24"],
        snippetEllipsisText: " [...]",
        templates: {
          item: function(hit) {
            return hitTemplate(hit);
          },
        },
      }),
      instantsearch.widgets.stats({
        container: "#search_stats",
        templates: {
          text: function(hit) {
              var cleanedquery = hit.query.sanitize();
              return `⚡️ <strong>${hit.nbHits}</strong> results found ${
             hit.query != "" ? `for <strong>"${ cleanedquery }"</strong>` : ``
           } in <strong>${hit.processingTimeMS}ms</strong>`;
          }
        }
      }),
      instantsearch.widgets.refinementList({
        container: "#search_type",
        attribute: "type",
        sortBy: ['name:asc'],
        templates: {
          header: "Section"
        },
        transformItems(items) {
          return adjustlabel(items)
        }
      }),
      instantsearch.widgets.pagination({
        container: '#search_pagination',
      }),
    ]);

    instant_search.start();
  });
</script>

<div id="bottom_nav" style="margin-top:30px;padding-top:30px;border-top:1px solid #c9c9c9;max-width:1140px; text-align: center;">
  {% include feedback.html  title="Did you find what you're looking for?"%}
</div>
<style type="text/css">
  #footer_div {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media (min-width: 1140px) {
    #footer_div {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @media (min-width: 1200px) {
    #footer_div {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
</style>
