{% if include.type == "static" and include.source == "youtube" %}
<div class="fixed_video">
<iframe src="https://www.youtube.com/embed/{{ include.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="media_embed {{ include.align }}"></iframe>
</div>
{% else %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ include.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="media_embed {{ include.align }}"></iframe>
{% endif %}
