#api-main {
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 14px;
  @media (min-width: $window-large-px) {
    margin-top:30px;
  }
  @media (min-width: $window-xlarge-px) {
    max-width: $main_max_width;
    margin-left: auto;
    margin-right: auto;
  }
  color: $black-shark;
  .api_search_icon {
    left: 0;

    color: #212123;
    top: 0;
    bottom: 0;
    display: inline-block;
  }
  .select_svg {
    color: #212123;
    right: 0;

    top: 0;
    bottom: 0;
    margin-left: -15px;
    display: inline-block;
    svg {
      width: 14px;
      height: 14px;
    }
  }
  h1 {
    color: $black-shark;
    font-family: $braze-medium;
  }

  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      // grid-template-columns: 1fr;
      // grid-gap: 1.5rem;
    @media (min-width: $window-medium-px) {
      justify-content: space-between;
    }
    @media (min-width: $window-large-px) {
      justify-content: flex-start;
    }
  }

  @media (min-width: $window-medium-px) {
    flex-direction: column;
  }

  @media (min-width: $window-large-px) {

  }

  #api_filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 100%;
    @media (min-width: $window-medium-px) {
    }
    @media (min-width: $window-large-px) {
      margin-bottom: 30px;
    }
    #api_filter_list {
      margin-top: 15px;
      flex: 1 0 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #api_search {
      flex: 1 0 100%;
      width: 100%;
      padding: 5px 14px 5px 30px;
      font-size: 14px;
      line-height: 1.15;
      margin: 0;
      -webkit-appearance: textfield;
      outline-offset: -2px;
      touch-action: manipulation;
      background-image: url(#{$base_url}/assets/img/search_black_shark.svg);
      background-position: left 10px top 5px;
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    #api_filter_title {
      width: 100%;
      flex: 1 0 100%;
      margin-top: 15px;
    }
    .api_filter_div {
      flex: 1 0 50%;
      @media (min-width: $window-medium-px) {
        flex: 0 0 33%;
      }
      @media (min-width: $window-large-px) {
        flex: 0 0 25%;
      }
    }
  }

  .api_div {
    flex: 1 0 100%;
    position: relative;

    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;

    text-decoration: none;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px 0 10px 0;

    .api_tags {
      display: none;
    }
    .api_type {
      background-color: #ebebeb;
      border-radius: 10px;
      margin-bottom: 15px;
      .method {
        font-family: $braze-black;
        text-transform: uppercase;
        color: #ffffff;
        border-radius: 10px;
        padding: 6px 15px;
        display: inline-block;
        &.post {
          background-color: #49cc90;
        }
        &.get {
          background-color: #61affe;
        }
        &.put {
          background-color: #fca130;
        }
        &.delete {
          background-color: #f93e3e;
        }
        margin-right: 15px;
      }
      .coreclass {
        font-family: $braze-black;
        text-transform: uppercase;
        color: #ffffff;
        border-radius: 10px;
        padding: 6px 15px;
        display: inline-block;
        float: right;
        background-color: #f7918e;
        a {
          text-decoration: none;
          border-bottom-width: 0;
          color: #ffffff;
          &:hover {
            text-decoration: none;
            background-color: transparent;
            color: #000000;
          }
        }
        margin-left: 15px;
      }
      p {
        display: inline-block;
        margin: 0px !important;
        padding: 0px !important;
      }
    }
    *,
    *::before,
    *::after {
      border-width: 0;
      border-style: solid;
    }
    a {
      font-family: $braze-black;
      display: inline;
      color: $black-shark;
      font-weight: 700;
      @media print {
        font-weight: normal;
      }
      border-bottom-width: 2px;
      border-color: $braze-link-color;
      text-decoration: none;
      transition: all ease 0.2s;
      -webkit-transition:  all ease 0.2s;
      -moz-transition:  all ease 0.2s;
      &:hover {
        background-color: $braze-link-color;
        img {
          background-color: transparent;
        }
      }

      img {
        vertical-align: middle;
      }
    }

    .api_reference {
      display: inline-block;
      border-radius: 10px;
      margin: 0px 10px 15px 0;
      font-family: $braze-black;
      padding: 5px 10px;
      font-size: 12px;
      color: $black-shark;
      a.seeme {
        text-decoration: none;
        border-bottom-width: 0;
        &:hover {
          text-decoration: none;
          background-color: transparent;
          color: $black-shark;
        }
      }
      &.swagger {
        background-color: #63db2a;
      }
      &.postman {
        background-color: #EF5B25;
      }
      i {
        display: none !important;
      }
    }

    // Hack the sticky header
    > h1[id],
    > h2[id],
    > h3[id],
    > h4[id],
    > h5[id],
    > h6[id] {
      pointer-events: none;

      > div,
      > a {
        pointer-events: auto;
      }

      &::before {
        display: block;
        height: $calc_offset_top;
        margin-top: -$calc_offset_top;
        visibility: hidden;
        content: "";
      }
      @media print {
        &::before {
          display: none;
        }
      }
    }
  }

  #results_msg {
    color: $black-shark;
    font-size: 14px;
    display: none;
  }

}
