

#main_content {
  // min-width: 66%;
  min-height: 100vh;
  line-height: 1.8;

  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: $window-medium-px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media print {
    display: block !important;
  }

  strong, b {
    font-weight: normal;
    font-family: $braze-black;
  }

  .fa-external-link-alt {
    font-size: 12px;
    margin-top: 4px;
    vertical-align: top;
  }


  #article-main{
    padding-bottom: $base_font_size * 6;
    @media (min-width: $window-small-px) {
    }
    @media (min-width: $window-medium-px) {
      min-height: calc(100vh - #{$calc_offset_view + $footer_height + ($base_font_size * 4)});
    }
    @media (min-width: $window-xlarge-px) {
      max-width: $main_max_width;
      margin-left: auto;
      margin-right: auto;
    }
    // Hack the sticky header
    > h1[id],
    > h2[id],
    > h3[id],
    > h4[id],
    > h5[id],
    > h6[id] {
      pointer-events: none;

      > div,
      > a {
        pointer-events: auto;
      }

      &::before {
        display: block;
        height: $calc_offset_top;
        margin-top: -$calc_offset_top;
        visibility: hidden;
        content: "";
      }
      @media print {
        &::before {
          display: none;
        }
      }
    }

    $content_transition_time: 0.2s;

      *,
      *::before,
      *::after {
        border-width: 0;
        border-style: solid;
      }
      .gist-it-gist {
        .prettyprint {
          font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
          font-size: 11.5px;
          font-weight: 700;
          line-height: 23px;
          color: $grey-dust;
        }
      }
      .gist-meta {
          a  {
            color: $black-shark !important;
          }
      }
      a {
        font-family: $braze-black;
        display: inline;
        color: $black-shark;
        font-weight: 700;
        @media print {
          font-weight: normal;
        }
        border-bottom-width: 2px;
        border-color: $braze-link-color;
        text-decoration: none;
        transition: all ease $content_transition_time;
        -webkit-transition:  all ease $content_transition_time;
        -moz-transition:  all ease $content_transition_time;
        &:hover {
          background-color: $braze-link-color;
          img {
            background-color: transparent;
          }
        }

        img {
          vertical-align: middle;
        }
      }


      ul {
        list-style: square;
        margin-left:20px;
        > li {
          p {
            display: inline-block;
          }
          &::before {
            content: none;
            color: $black-shark;
            margin-right: 10px;
            margin-top: auto;
            margin-bottom: auto;
            font-size: 15px;
            display: inline-block;
            font-family: $braze-black;
          }
          div {
            &.highlighter-rouge {
              margin-top: 15px;
            }
          }
        }
      }

      ol {
        list-style: none;
        counter-reset: li;
        margin-left: 20px;
        > li {
          counter-increment: li;
          p {
            display: inline;
          }
          &::before {
            content: counter(li);
            font-family: $braze-black;
            color: $black-shark;
            display: inline-block;
            margin-right: 10px;
            margin-top: auto;
            margin-bottom: auto;

          }
          div {
            &.highlighter-rouge {
              margin-top: 15px;
            }
          }
        }
      }
      img {
        border: 1px solid $grey-ghost;
        border-width: 1px;
        border-style: solid;
      }
      iframe {
        &.media_embed {
          margin-bottom: 15px;
          margin-right: 15px;
          border: 1px solid $grey-ghost;
          max-width: 100%;
          @media (min-width: $window-xlarge-px) {
            &.right {
              margin-left: 45px;
              margin-right: 0px;
              margin-bottom: 30px;
              max-width: 50%;
              float: right;
            }
            &.left {
              margin-left: 0px;
              margin-right: 45px;
              margin-bottom: 30px;
              max-width: 50%;
              float: left;
            }
          }
        }

      }

      details {
        summary {
            display: list-item;
            cursor: pointer;
            font-size: 16px;
            color: $black-shark;
            margin: 17px 0 0 0;
            font-family: $braze-medium;
            &::-webkit-details-marker {
                display: none;
                //background-color: $black-shark;
            }
            &::marker {
                content: "";
                //background-color: $black-shark;
            }
            &::before {
              content:"►";
              margin-right: 2px;
              color: $black-shark;
            }
        }
       &[open], &:hover,
       &:active, &:focus  {
          summary {

            color: $blue-scooter;
            outline: none;

            &::-webkit-details-marker {
                color: $blue-scooter;
            }

            p {
              color: $text-color;
            }
            &::before {
              //background-color: $blue-scooter;
              color: $blue-scooter;
            }
          }
          &[open] {
            summary {
              &::marker {
                  content: "";
                  //background-color: $black-shark;
              }
              &::before {
                content:"▼" ;
              }
            }
          }
        }
        h1, h2, h3, h4, h5, h6 {
          padding: 5px 0 0 18px;
        }
        p, ol, ul {
          padding: 5px 0 0 18px;
          font-size: 14px;
          color: $text-color;
        }
      }
  }

  #featured_video {
    width: 100%;
    .fixed_video {
      width: 100%;
      height: calc(100vw * 0.5625);
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vw * 0.5625);
      }
    }

    @media (min-width: $window-medium-px) {
      width: 100%;
      .fixed_video {
        width: 100%;
        height: calc((100vw - #{ $nav_width }) * 0.5625 ) ;
        iframe, object, embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc((100vw - #{ $nav_width }) * 0.5625 ) ;
        }
      }
    }
    @media (min-width: $window-xxlarge-px) {
      max-width: 45%;
      padding-right: 3%;
      .fixed_video {
        position: fixed;
        width: 44%;
        height: calc(100vw * 0.5625 * 0.44);
        top: #{ $header_height + $banner_height + 15px };
        right: 15px;
        iframe, object, embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(100vw * 0.5625 * 0.45);
        }
      }
    }

  }

  &.scrollnav {
    #featured_video {
        @media (min-width: $window-xxlarge-px) {
          .fixed_video {
            top: #{ $header_height + 15px };
          }
        }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $braze-regular;
    margin: 40px 0 4px 0;
  }

  h1 {

    font-size: 42px;
    font-family: $braze-medium;
    line-height: 1.5;
    color: $black-shark;

  }

  h2 {
    font-size: 30px;
    line-height: 1.4;
    color: $navy-bay;
  }

  h3 {
    font-size: 24px;
    font-family: $braze-medium;
    line-height: 1.4;
    color: $black-shark;

  }

  h4 {
    font-size: 20px;
    font-family: $braze-black;
    line-height: 1.4;
    color: $navy-bay;
  }

  h5 {
    font-size: 16px;
    font-family: $braze-black;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $black-shark;
  }

  h6 {
    font-family: $braze-black;
    line-height: 1.5;
    font-size: 16px;
    color: $navy-bay;
  }
  p {
    margin-bottom: 25px;
    .highlighter-rouge {
      padding: 2px 4px;
      border-width: 1px !important;
      border-color: $grey-ghost;
    }
  }
  .highlighter-rouge {
    font-size: 14px;
    font-family: $braze-code;
    font-weight: bold;
    color: $grey-dust;
    background-color: $grey-athens;
    border: 1px solid $grey-ghost;


  }
  div {
    .highlighter-rouge {
      margin-bottom: 25px;
    }
  }
}

div.highlight {
  border: 1px solid $grey-ghost;
  .rouge-table {
    width: 100%;
  }
  .rouge-code {
    position: relative;
    max-width: 1px; /* fix some odd overflow alignment issue */
    pre {
      padding-right: 50px;
      color: $grey-dust;
    }
    .btn {
      /* -webkit-transition:opacity .3s ease-in-out; */
      -o-transition: opacity .3s ease-in-out;
      transition: opacity .3s ease-in-out;
      opacity: 0;
      padding: 2px 6px;
      position: absolute;
      top: 5px;
      right: 2px;
      background-color: transparent;
      img {
        width: 26px;
        border-width: 0 !important;
      }
    }
    div {
      /* -webkit-transition:opacity .3s ease-in-out; */
      -o-transition: opacity .3s ease-in-out;
      transition: opacity .3s ease-in-out;
      opacity: 0;
      padding: 2px 6px;
      position: absolute;
      top: 5px;
      font-size: 12px;
      right: 55px;
      color:  #333333;
      border: 1px solid $grey-ghost;
      border-radius: 10px;
    }

    &:hover .btn, .btn:focus {
        opacity: 1;
    }
  }
}
#breadcrumb {
  padding-bottom: 15px;
  min-height: 15px;
  font-size: 12px;
  font-family: $braze-regular;
  line-height: 1.7;
  color: $black-shark;
  a {
    border-bottom-width: 0 !important;
  }
}
#basic_page {
  padding-top: $base_font_size * 2;
  padding-left: $base_font_size * 2;
  padding-right: $base_font_size * 2;
  @media (min-width: $window-small-px) {
    padding-top: $base_font_size * 4;
  }
  @media (min-width: $window-medium-px) {
    padding-top: $base_font_size / 2;
  }
  @media (min-width: 992px) {
  }
  min-height: calc(100vh - #{$calc_offset_view + $footer_height + ($base_font_size * 4)});
}

@import 'bottom_nav';

/*
* Tables
*/
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid $grey-ghost !important;
  >thead {
    font-size: 12px;
    text-transform: uppercase;
    color: $black-shark;
    font-family: $braze-black;
    border: 1px solid $grey-ghost;
    background-color: $grey-athens;

  }
  td {
    border: 1px solid $grey-ghost !important;
    font-size: 14px;
    word-break: break-all;
    @media (max-width: $window-large-px) {
      word-break: break-word;
      a {
        word-break: initial;
      }
    }
    code.highlighter-rouge {
      word-break: initial;
    }
  }
  @media (min-width: $window-xlarge-px) {
    &.reset-td-br-1 {
      td:nth-child(1) {
        word-break: initial;
      }
    }
    &.reset-td-br-2 {
      td:nth-child(2) {
        word-break: initial;
      }

    }
    &.reset-td-br-3 {
      td:nth-child(3) {
        word-break: initial;
      }
    }
    &.reset-td-br-4 {
      td:nth-child(4) {
        word-break: initial;
      }
    }
    &.ws-td-nw-1 {
      td:nth-child(1) {
        white-space: nowrap;
      }
    }
  }
  >tbody>tr>td, >tbody>tr>th, >tfoot>tr>td, >tfoot>tr>th, >thead>tr>td, >thead>tr>th {
      padding: 10px;
      line-height: 1.5;
      vertical-align: top;
      /* alignment sent due to inline : on dash breaks. if this is not desire,  */
      /* then would need to update all the table code to remove the :---: from the tables */
      text-align: left !important;
  }
  >thead>tr>th{
    vertical-align: bottom;
  }
}

// table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
//   padding: 8px;
//   line-height: 1.42857143;
//   vertical-align: top;
//   border: 1px solid #ddd;
// }
// table>thead>tr>th {
//   vertical-align: bottom;
//   border-bottom: 2px solid #ddd;
// }
// table>tbody+tbody {
//   border-top: 2px solid #ddd;
// }
// table>thead>tr>td, table>thead>tr>th {
//   border-bottom-width: 2px;
// }
// // table>tbody>tr:nth-of-type(odd) {
// //   background-color: #f9f9f9;
// // }

table td code.highlighter-rouge {
  background-color: transparent !important;
  word-break: break-all;
}
@media (min-width: $window-xlarge-px) {
  table.reset-td-br-1 td:nth-child(1) code.highlighter-rouge,
  table.reset-td-br-2 td:nth-child(2) code.highlighter-rouge,
  table.reset-td-br-3 td:nth-child(3) code.highlighter-rouge,
  table.reset-td-br-4 td:nth-child(4) code.highlighter-rouge  {
    word-break: initial;
  }
}
.highlight table {
  margin-bottom: 0px;
}
/*
* Blockquotes
*/

blockquote {
  color: $black-shark;
  border-left: 2px solid $navy-bay !important;
  padding: 20px 20px 2px 20px;
  font-size: 16px;
  font-style: normal;
  background-color: $grey-athens;

}
/**
 * Clearfix
 */
.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/*
 * Wrapper
 */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 4rem;
  padding-left: 4rem;
  @extend .clearfix;

  @media (max-width: $window-large-px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}


/*
 * Code highlighting
 */
 .highlight {

    pre {
      padding: 0;
      line-height: 23px;
      margin-bottom: 0px;
      white-space: pre;
      overflow-x: auto;
      word-break: inherit;
      word-wrap: inherit;
      // min-height: 30px;
      color: $grey-dust;

      .c { color: #666666; font-style: italic } /* Comment */
      .err {     background-color: initial; color: inherit; } /* Error */
      .k { color: $blue-ocean; font-weight: bold } /* Keyword */
      .o { color: #333333 } /* Operator */
      .ch { color: #666666; font-style: italic } /* Comment.Hashbang */
      .cm { color: #666666; font-style: italic } /* Comment.Multiline */
      .cp { color: #557799 } /* Comment.Preproc */
      .cpf { color: #666666; font-style: italic } /* Comment.PreprocFile */
      .c1 { color: #666666; font-style: italic } /* Comment.Single */
      .cs { color: #cc0000; font-weight: bold; font-style: italic } /* Comment.Special */
      .gd { color: #A00000 } /* Generic.Deleted */
      .ge { font-style: italic } /* Generic.Emph */
      .gr { color: #FF0000 } /* Generic.Error */
      .gh { color: #000080; font-weight: bold } /* Generic.Heading */
      .gi { color: #00A000 } /* Generic.Inserted */
      .go { color: #888888 } /* Generic.Output */
      .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
      .gs { font-weight: bold } /* Generic.Strong */
      .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
      .gt { color: #0044DD } /* Generic.Traceback */
      .kc { color: $blue-ocean; font-weight: bold } /* Keyword.Constant */
      .kd { color: $blue-ocean; font-weight: bold } /* Keyword.Declaration */
      .kn { color: $blue-ocean; font-weight: bold } /* Keyword.Namespace */
      .kp { color: #0088ff; font-weight: bold } /* Keyword.Pseudo */
      .kr { color: $blue-ocean; font-weight: bold } /* Keyword.Reserved */
      .kt { color: $navy-cove; font-weight: bold } /* Keyword.Type */
      .m { color: #6600EE; font-weight: bold } /* Literal.Number */
      .s { color: $red-rose } /* Literal.String */
      .n { color: $navy-cove; font-weight: bold } /* Literal.Name */
      .na { color: #000077 } /* Name.Attribute */
      .nb { color: $green-grass } /* Name.Builtin */
      .nc { color: $navy-cove; font-weight: bold } /* Name.Class */
      .no { color: $blue-scooter; font-weight: bold } /* Name.Constant */
      .nd { color: #555555; font-weight: bold } /* Name.Decorator */
      .ni { color: #880000 } /* Name.Entity */
      .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
      .nf { color: $blue-scooter; font-weight: bold } /* Name.Function */
      .nl { color: #997700; font-weight: bold } /* Name.Label */
      .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
      .nx { color: $navy-cove; font-weight: bold } /* Name.Class.Other */
      .nt { color: #007700 } /* Name.Tag */
      .nv { color: #003366 } /* Name.Variable */
      .ow { color: #000000; font-weight: bold } /* Operator.Word */
      .w { color: #bbbbbb } /* Text.Whitespace */
      .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
      .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
      .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
      .mi { color: $navy-cove; font-weight: bold } /* Literal.Number.Integer */
      .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
      .sa { color: $red-rose } /* Literal.String.Affix */
      .sb { color: $red-rose } /* Literal.String.Backtick */
      .sc { color: #8888FF } /* Literal.String.Char */
      .dl { color: $red-rose } /* Literal.String.Delimiter */
      .sd { color: #DD4422 } /* Literal.String.Doc */
      .s2 { color: $red-rose } /* Literal.String.Double */
      .se { color: #666666; font-weight: bold; background-color: $red-rose } /* Literal.String.Escape */
      .sh { background-color: $red-rose } /* Literal.String.Heredoc */
      .si { background-color: #eeeeee } /* Literal.String.Interpol */
      .sx { background-color: initial; color: inherit;  } /* Literal.String.Other */
      .sr { background-color: initial; color: inherit;  } /* Literal.String.Regex */
      .s1 { color: $red-rose } /* Literal.String.Single */
      .ss { color: #ffcc88 } /* Literal.String.Symbol */
      .bp { color: $green-grass } /* Name.Builtin.Pseudo */
      .fm { color: $blue-scooter; font-weight: bold } /* Name.Function.Magic */
      .vc { color: #ccccff } /* Name.Variable.Class */
      .vg { color: #ff8844 } /* Name.Variable.Global */
      .vi { color: #aaaaff } /* Name.Variable.Instance */
      .vm { color: #003366 } /* Name.Variable.Magic */
      .il { color: $navy-cove; font-weight: bold } /* Literal.Number.Integer.Long */

      &.prewrap {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
      }
    }

    td {
        padding: 8px 15px;
    }

    .gl {

      width: 2rem;

      font-family: $braze-code;
      font-weight: medium;
      font-size: 13px;
      color: $grey-dust;
      background-color: $white;

      /* Stop line numbers being visually selected */
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pre {
        color: $grey-dust;
      }
    }
    .rouge-code {
      font-size: 13px;
      font-family: $braze-code;
      background-color: $grey-athens;
    }
}
