
div.details_title {
  margin: -$calc_offset_top 0 4px 0 !important;
  &::before {
    content: none !important;
    display: none !important;
  }
  height: $calc_offset_top;
}
details {
  .detail_div {
    border: 1px solid $grey-ghost !important;
    padding: 30px 30px 0 30px;
  }
  summary {
    display: list-item;
    cursor: pointer;
    font-size: 18px;
    color: $black-shark;
    margin: 0 0 0 0;
    font-family: $braze-medium;
    margin-bottom: 10px;
  }

 &:hover,
 &:active, &:focus  {
    summary {
      color: $black-shark;
      outline: none;
      font-size: 14px;
      &::-webkit-details-marker {
          color: $black-shark;
      }

      p {
        color: $text-color;
      }
      &::before {
        //background-color: $blue-scooter;
        color: $black-shark;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 5px 0 0 0px;
		margin-top: 0px !important;
  }
  p, ol, ul {
    padding: 5px 0 0 0px;
    font-size: 14px;
    color: $text-color;
  }
}
