$search_border_color: #d9d9d9;
$search_color: $braze-purple-dark;
$search_min_width: 250px;

$search_title_width: 250px;
$search_font_size: 14px;
$search_transition_time: 0.25s;

$search_footer_height: 50px;
$search_offset: 65px;
$search_font_color: #58585a;
$search_tag_color: $grey-athens;
#doc-search-form_div,
.algolia_overlay {
	justify-content: center;
	display: flex;
	margin: auto;

	@media (max-width: $window-mobile-px) {
		//width: 25px;
		margin-right: 0px;
	}
	@media (max-width: $window-small-px) {
		margin-right: 10px;
	}

	font-family: $braze-regular;
	#doc-search-home {
		//padding-left: 1%;
		width: 100%;
		background-color: $white;
		margin: 20px 15px;

		transition: all ease $search_transition_time;
		-webkit-transition: all ease $search_transition_time;
		-moz-transition: all ease $search_transition_time;

		font-size: $base_font_size;
		&:focus {
			&::placeholder {
				/* Chrome, Firefox, Opera, Safari 10.1+ */
				color: $search_font_color;
			}
			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: $search_font_color;
			}

			&::-ms-input-placeholder {
				/* Microsoft Edge */
				color: $search_font_color;
			}
			// background-color: $white;
			color: $search_font_color;
			// border-color: $search_font_color;
			box-shadow: none;
			border-color: #000000;
			border-width: 2px;
		}
	}
	#doc-search-panel {
		border: none;
		box-shadow: none;
		#algolia_footer {
			height: $search_footer_height;
			margin: 0 15px 0 15px;

			.algolia-docsearch-footer {
				height: $search_footer_height;
				font-size: 0;
				line-height: 0;
				position: absolute;
				left: 0;
				margin: auto 10px;
			}
			#algolia-docsearch-advanced {
				height: $search_footer_height;
				font-size: 13px;
				line-height: 50px;
				font-family: $braze-medium;
				color: $braze-purple-dark;
				position: absolute;
				right: 0;
				margin: auto 15px auto 0;
				cursor: pointer;
				a {
					color: $braze-purple;
					&:hover {
						color: $braze-purple;
						text-decoration: none;
					}
				}
			}
			.algolia-docsearch-footer--logo {
				background-image: url("#{$base_url}/assets/img/algolia.svg");
				background-repeat: no-repeat;
				background-position: 5px center;
				background-size: 110px 16px;
				overflow: hidden;
				text-indent: -9000px;
				padding: 0 !important;
				width: 120px;
				height: 100%;
				display: block;
			}
		}

		z-index: 700;
	}

	.lab_header {
		font-size: 18px;
		margin-top: 20px;
	}
	.aa-Autocomplete,
	.aa-DetachedFormContainer {
		@media (min-width: $window-xxlarge-px) {
			max-width: 1500px;
		}
		.aa-Form {
			align-items: center;
			background-color: rgba(
				var(--aa-input-background-color-rgb),
				var(--aa-input-background-color-alpha)
			);
			button {
				&:focus {
					outline: none;
				}
			}
			@media (min-width: $window-medium-px) {
				border: 2px solid #000000;
				border-radius: 15px;
			}
			@media (min-width: $window-xxlarge-px) {
				max-width: 100%;
				min-width: 100%;
			}
			min-height: 60px;
			min-width: 70vw;

			display: flex;
			line-height: 1em;
			margin: 0;
			position: relative;
			width: 100%;
			&:focus-within {
				border-color: none;
				box-shadow: none;
				outline: currentColor none medium;
			}
			.aa-InputWrapperPrefix {
				margin-top: 10px;
			}
		}
	}
	.aa-Panel {
		z-index: 800;
		max-width: 1048px;
		top: 0px !important;
		@media (min-width: 681px) {
			top: 125px !important;
		}

		@media (min-width: $window-medium-px) {
			top: 100px !important;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-width: 2px;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
			border-color: #000000;
			border-style: solid;
			border-top-style: none;
			box-shadow: none;
		}

		font-size: $search_font_size;
		.aa-Item {
			hr {
				margin-top: 10px;
				margin-bottom: 15px;
				border-width: 1px;
				border-color: rgba($search_font_color, 0.7);
			}
		}

		cursor: pointer;
		padding: 15px 15px 0px 15px;
		width: 100%;

		a {
			text-decoration: none;
			&:hover {
				color: inherit;
			}
		}

		div {
			&.title {
				font-family: $braze-medium;
				font-size: 14px;
				color: $search_color;
				line-height: 1.5;
			}

			&.content {
				display: block;
				width: 100%;
				color: $search_font_color;
				font-size: 13px;
				line-height: 1.5;
			}

			div {
				&.category {
					text-align: right;
					display: inline;
				}
			}
		}
	}
}
#search_header_labs {
	color: $search_font_color;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 5px;
	hr {
		margin-top: 5px;
	}
}
.lab_header {
	margin-top: 20px;
	color: $search_font_color;
	font-size: 16px;
	margin-bottom: 0px;
}
.search_tags {
	border-radius: 5px;
	font-size: 10px;
	padding: 2px 10px;
	margin-right: 5px;
	color: $search_tag_color;
	background-color: $search_font_color;
}
.search_tag_div {
	display: block;
	margin-bottom: 5px;
}
.search_tag_header_div {
	display: inline-block;
	margin: 0px 5px;
}
.article_path {
	text-align: left;
	font-size: 10px;
	color: $search_font_color;
	font-weight: bold;
	margin: 5px 0px;
}



section.su__w-100.su__py-4.su__search_section.su__bg-blue-grd {
    background-color: white;
}
#su_main_search #search-box-autocomplete {
    border: 2px solid black;
    height: 63px;
    border-radius: 16px;
	background: white;
	color: black;
	outline: none;
	outline: none;
}
#su_main_search button.su__btn.su__search_btn.su__animate-zoom.su__flex-vcenter.su__position-absolute.su__zindex.su__bg-transparent.su__rtlleft svg path {
    fill: #3e34d3;
}
input#search-box-autocomplete:focus-visible {
	border: 2px solid white !important;
  }

 #su_main_search .svg-search {
    display: none;
}

#su_main_search span.su__color-gray.su__f-bold {
    display: none;
}
#su_main_search span.highlight {
    color: var(--su__searchboxapp-violet);
}
#su_main_search span.su__input-close.su__animate-zoom.su__position-absolute.su__cursor {
    margin-top: 10px;
}

#su_main_search span.su__description-truncate {
	color: #475467;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    line-height: 19px;
    margin-bottom: 8px;
    margin-top: 0px;
    white-space: normal;
    margin-right: 215px;
    margin-right: 215px;
}
#su_main_search .su__suggestions-list.su__bg-gray-hover.su__flex-vcenter.su__text-black.su__fontsize-14.su__mb-1.null {
    display: flex;
    align-items: flex-start;
}
#su_main_search .su__suggestions-list.su__bg-gray-hover.su__flex-vcenter.su__text-black.su__fontsize-14.su__mb-1.null {
    display: flex;
    align-items: flex-start;
    border-top: 1px solid #c9c9c9;
}
#su_main_search .su__autocomplete-suggestion.su__w-100.su__bg-white.su__sm-shadow.su__position-absolute.su__zindex-2.su__mobile_resultbox.su__hideScroller.su__mt-6px {
	margin-top: 2px;
    border: 2px solid black;
    border-top: none !important;
    border-radius: 0 0 18px 18px !important;
}
#su_main_search .su__mobile_resultbox {
    top: 42px !important;
    width: 100% !important;
    border-radius: 0 !important;
    overflow-y: scroll !important;
    -ms-overflow-style: none !important;
    position: absolute !important;
    left: unset !important;
    bottom: unset !important;
}
#su_main_search .su__recentSearch_result.su__suggestion-desc.su__line-height-n.su__color-lgray.su__suggest {
    color: #660099;
}

.su__suggestions-list {
	padding: 10px 0px !important;
}
#su_main_search #search-box-autocomplete:focus {
	border: 2px solid black !important; 
  }
  #su_main_search span.su_source_label_font { color: #101828; }
#su_main_search span[title="Api"] { background: #f7caf5; }
#su_main_search span[title="Developer Guide"] { background: #FFD6AE; }
#su_main_search span[title="Dashboard"] { background: #FFA4FB; }
#su_main_search span[title="User Guide"] { background: #CEC1F1; }
#su_main_search span[title="Partners"] { background: #ff9f92; }
#su_main_search span[title="Help"] { background: #F7918E; }
#su_main_search span[title="Contributing"] { background: #3accdd; }
#su_main_search span[title="Doc"] { background: #F7918E; }
#su_main_search svg.su__advance-icon-color { display: none; }

#su_main_search  span.su__ribbon-title.su__font-11.su__px-2.su__rtlml-0.su__d-inline-block.su__radius-3.su_source_label_font.su__f-normal.su__sc-loading.su__source-label {
    max-width: 87px;
    min-height: 20px;
    opacity: 1;
    border-radius: 8px;
    padding: 5px;
    margin-left: 9px;
	color: white ;
}

