#glossary-main {
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 30px;

  @media (min-width: $window-large-px) {
    margin-top:30px;
  }
  @media (min-width: $window-xlarge-px) {
    max-width: $main_max_width;
    margin-left: auto;
    margin-right: auto;
  }
  color: $black-shark;
  .title {
    color: $black-shark;
    font-family: $braze-medium;
    font-size: 16px;
    margin-bottom: 0px;
    .glossary_share {
      display: none;
    }
    &:hover .glossary_share {
      display: inline;
      border-bottom-width: 2px !important;
      border-color: transparent !important;
      margin: 0px 5px 0px 5px;
      cursor: copy;
      &:hover {
        border-bottom-width: 2px !important;
        border-color: $braze-link-color !important;
        background-color: transparent !important;
      }
    }
    span {
      font-size: 12px;
      color: $grey-dust;
    }
  }
  .tags {
    display: block;
  }
  .tag {
    display: inline-block;
    font-family: $braze-light-oblique;
    font-size: 14px;
  }
  .metric, .caclulation, .field, .subinfo {
    font-family: $braze-regular;
    font-size: 14px;
    color: $grey-stardust;
    margin-bottom: 5px;
  }

  .tag_img {
    display: inline-block;
    max-height: 16px;
  }

  .desc {
    font-family: $braze-regular;
    font-size: 15px;
    color: $black-shark;
    margin: 8px 40px;
  }

  .glossary_text {
    margin-top: auto;
    color: $text-color;
    font-family: $braze-regular;
    font-size: 16px;
    line-height: 1.8;
    *,
    *::before,
    *::after {
      border-width: 0;
      border-style: solid;

    }
    a {
      display: inline;
      color: $black-shark;
      border-bottom-width: 2px;
      border-color: $braze-link-color;
      text-decoration: none;
      transition: all ease $guide_transition_time;
      -webkit-transition:  all ease $guide_transition_time;
      -moz-transition:  all ease $guide_transition_time;
      &:hover {
        background-color: $braze-link-color;
      }
    }
  }

  legend {
    &.glossary_text {
      font-size: 30px;
      line-height: 1.4;
      color: $braze-purple-dark;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  #guide_list, #guide_featured_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    b {
      font-size: 30px;
      line-height: 1.4;
      color: $braze-purple-dark;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .guide_item {

      width: 100%;
      padding: 20px;

      display: inline-flex;
      vertical-align: top;
      text-align: left;
      font-size: 16px;
      margin-top: auto;
      margin-bottom: auto;
      font-family: $braze-regular;
      height: 60px;
      overflow: hidden;
      align-items: center;
      img {
       max-height: 80%;
       vertical-align: middle;
       display: flex;
       display: -webkit-flex; /* Safari */
       margin-right: 20px;
       margin: auto 15px auto 0;
       max-width: 40px;
      }
      i {
        vertical-align: top;
        display: inline-block;
        font-size: 24px;
        margin: auto 20px auto 0;
        max-width: 30px;
      }
      .menu_description {
        display: flex;
        display: -webkit-flex; /* Safari */
        vertical-align: middle;
        color: $text-color;

        line-height: 1.25;
        display: inline-block;
      }

    }
    a {
      border: 1px solid $grey-ghost;
      box-shadow: 0 0 6px 0 rgba(32,32,36,0.12);
      border-radius: 8px;
      margin-bottom: 30px;

      flex: 0 0 100%;

      @media (min-width:  $window-medium-px) {
        flex: 0 0 46%;
        margin-right: 2%;
      }
      @media (min-width:  $window-large-px) {
        flex: 0 1 30.3%;
        margin-right: 3%;
      }
      color: $black-shark;
      text-decoration: none;
      background-color: inherit;
      &:hover {
        background-color: transparent;
        border-color: $braze-link-color;
      }
    }

  }
  .glossary_search_icon {
    left: 0;

    color: #212123;
    top: 0;
    bottom: 0;
    display: inline-block;
  }
  .select_svg {
    color: #212123;
    right: 0;

    top: 0;
    bottom: 0;
    margin-left: -15px;
    display: inline-block;
    svg {
      width: 14px;
      height: 14px;
    }
  }
  h1 {
    color: $black-shark;
    font-family: $braze-medium;
    margin-top: 10px;
  }
  #breadcrumb {
    margin-top: 0px;
  }

  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      // grid-template-columns: 1fr;
      // grid-gap: 1.5rem;
    @media (min-width: $window-medium-px) {
      justify-content: space-between;
    }
    @media (min-width: $window-large-px) {
      justify-content: flex-start;
    }
  }

  @media (min-width: $window-medium-px) {
    flex-direction: column;
  }

  @media (min-width: $window-large-px) {

  }

  #glossary_filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    @media (min-width: $window-medium-px) {
    }
    @media (min-width: $window-large-px) {
      margin-bottom: 30px;
    }
    #glossary_label {
      width: 100%;
    }
    #glossary_search {
      border: 1px solid $grey-ghost;
      flex: 1 0 100%;
      width: 100%;
      padding: 5px 14px 5px 30px;
      font-size: 14px;
      line-height: 1.15;
      margin: 0;
      -webkit-appearance: textfield;
      outline-offset: -2px;
      touch-action: manipulation;
      background-image: url(#{$base_url}/assets/img/search_black_shark.svg);
      background-position: left 10px top 5px;
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    #glossary_filter_title {
      width: 100%;
      flex: 1 0 100%;
      margin-top: 15px;
    }
    #glossary_filter_titlev2 {
      width: 100%;
      flex: 1 0 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;

        line-height: 1.25;
        padding: 14px;
        color: #202024;
        font-size: 14px;
        display: inline-block;

        background-image: url(#{$base_url}/assets/img/dropdown.svg);
        background-position: right 10px top 14px;
        background-size: 14px 14px;
        background-repeat: no-repeat;
        background-color: transparent;
    }

    .select:focus {
        outline: 0
    }

    .glossary_filter_div {
      flex: 1 0 50%;
      @media (min-width: $window-medium-px) {
        flex: 0 0 33%;
      }
      @media (min-width: $window-large-px) {
        flex: 0 0 25%;
      }
      label {
        padding-left: 1em;
        text-indent: -1.10em;
        padding-right: 1em;
      }
    }
  }
  .btn {
      cursor: pointer;
      font-weight: 400;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-decoration: none;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 1.25rem 1.5rem 1rem;
      display: inline-block;
      background-color: #202024;
      color: #fff;
      font-size: .875rem;
      letter-spacing: .15em;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out
  }

  .term {
    flex: 1 0 100%;
    position: relative;

    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;

    text-decoration: none;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px 0 10px 0;
    border-top: 1px solid $grey-ghost;
    $content_transition_time: 0.2s;
    *,
    *::before,
    *::after {
      border-width: 0;
      border-style: solid;
    }
    a {
      font-family: $braze-medium;
      display: inline;
      color: $black-shark;
      font-weight: 700;
      @media print {
        font-weight: normal;
      }
      border-bottom-width: 2px;
      border-color: $braze-link-color;
      text-decoration: none;
      transition: all ease $content_transition_time;
      -webkit-transition:  all ease $content_transition_time;
      -moz-transition:  all ease $content_transition_time;
      &:hover {
        background-color: transparent !important;
        border-color: black;
        img {
          background-color: transparent;
        }
      }

      img {
        vertical-align: middle;
      }
    }

    // Hack the sticky header
    .anchor {
      pointer-events: none;

      > div,
      > a {
        pointer-events: auto;
      }

      display: block;
      height: $calc_offset_top;
      margin-top: -$calc_offset_top;
      visibility: hidden;
      @media print {
        &::before {
          display: none;
        }
      }
    }
    &.has_breadcrumb {
      > h1:first-of-type  {
        &::before {
          height: ($calc_offset_top - 40px);
        }
      }
    }
  }


  #results_msg {
    color: $black-shark;
    font-size: 14px;
    display: none;
  }

}
