#glossary-main {
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 30px;

  @media (min-width: $window-large-px) {
    margin-top:30px;
  }
  @media (min-width: $window-xlarge-px) {
    max-width: $main_max_width;
    margin-left: auto;
    margin-right: auto;
  }
  color: $black-shark;
  .title {
    color: $black-shark;
    font-family: $braze-black;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .tags {
    display: block;
  }
  .tag {
    display: inline-block;
    font-family: $braze-light-oblique;
    font-size: 14px;
  }
  .metric, .caclulation, .field, .subinfo {
    font-family: $braze-regular;
    font-size: 14px;
    color: $grey-stardust;
    margin-bottom: 5px;
  }

  .tag_img {
    display: inline-block;
    max-height: 16px;
  }

  .desc {
    font-family: $braze-regular;
    font-size: 15px;
    color: $black-shark;
    margin: 8px 40px;
  }
  .glossary_text {
    *,
    *::before,
    *::after {
      border-width: 0;
      border-style: solid;
    }
    a {
      display: inline;
      color: $black-shark;
      border-bottom-width: 2px;
      border-color: $braze-link-color;
      text-decoration: none;
      transition: all ease $guide_transition_time;
      -webkit-transition:  all ease $guide_transition_time;
      -moz-transition:  all ease $guide_transition_time;
      &:hover {
        background-color: $braze-link-color;
      }
    }
  }
  .glossary_search_icon {
    left: 0;

    color: #212123;
    top: 0;
    bottom: 0;
    display: inline-block;
  }
  .select_svg {
    color: #212123;
    right: 0;

    top: 0;
    bottom: 0;
    margin-left: -15px;
    display: inline-block;
    svg {
      width: 14px;
      height: 14px;
    }
  }
  h1 {
    color: $black-shark;
    font-family: $braze-medium;
  }

  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      // grid-template-columns: 1fr;
      // grid-gap: 1.5rem;
    @media (min-width: $window-medium-px) {
      justify-content: space-between;
    }
    @media (min-width: $window-large-px) {
      justify-content: flex-start;
    }
  }

  @media (min-width: $window-medium-px) {
    flex-direction: column;
  }

  @media (min-width: $window-large-px) {

  }

  #glossary_filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    @media (min-width: $window-medium-px) {
    }
    @media (min-width: $window-large-px) {
      margin-bottom: 30px;
    }
    #glossary_search {
      border: 1px solid $grey-ghost;
      flex: 1 0 100%;
      width: 100%;
      padding: 5px 14px 5px 30px;
      font-size: 14px;
      line-height: 1.15;
      margin: 0;
      -webkit-appearance: textfield;
      outline-offset: -2px;
      touch-action: manipulation;
      background-image: url(#{$base_url}/assets/img/search_black_shark.svg);
      background-position: left 10px top 5px;
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    #glossary_filter_title {
      width: 100%;
      flex: 1 0 100%;
      margin-top: 15px;
    }

    .select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;

        line-height: 1.25;
        padding: 14px;
        color: #202024;
        font-size: 14px;
        display: inline-block;

        background-image: url(#{$base_url}/assets/img/dropdown.svg);
        background-position: right 10px top 14px;
        background-size: 14px 14px;
        background-repeat: no-repeat;
        background-color: transparent;
    }

    .select:focus {
        outline: 0
    }

    .glossary_filter_div {
      flex: 1 0 50%;
      @media (min-width: $window-medium-px) {
        flex: 0 0 33%;
      }
      @media (min-width: $window-large-px) {
        flex: 0 0 25%;
      }
      label {
        padding-left: 1em;
        text-indent: -1.10em;
        padding-right: 1em;
      }
    }
  }
  .btn {
      cursor: pointer;
      font-weight: 400;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-decoration: none;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 1.25rem 1.5rem 1rem;
      display: inline-block;
      background-color: #202024;
      color: #fff;
      font-size: .875rem;
      letter-spacing: .15em;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out
  }

  .term {
    flex: 1 0 100%;
    position: relative;

    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;

    text-decoration: none;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px 0 10px 0;
    border-top: 1px solid $grey-ghost;
    $content_transition_time: 0.2s;
    *,
    *::before,
    *::after {
      border-width: 0;
      border-style: solid;
    }
    a {
      font-family: $braze-black;
      display: inline;
      color: $black-shark;
      font-weight: 700;
      @media print {
        font-weight: normal;
      }
      border-bottom-width: 2px;
      border-color: $braze-link-color;
      text-decoration: none;
      transition: all ease $content_transition_time;
      -webkit-transition:  all ease $content_transition_time;
      -moz-transition:  all ease $content_transition_time;
      &:hover {
        background-color: $braze-link-color;
        img {
          background-color: transparent;
        }
      }

      img {
        vertical-align: middle;
      }
    }

    // Hack the sticky header
    > h1[id],
    > h2[id],
    > h3[id],
    > h4[id],
    > h5[id],
    > h6[id] {
      pointer-events: none;

      > div,
      > a {
        pointer-events: auto;
      }

      &::before {
        display: block;
        height: $calc_offset_top;
        margin-top: -$calc_offset_top;
        visibility: hidden;
        content: "";
      }
      @media print {
        &::before {
          display: none;
        }
      }
    }
  }


  #results_msg {
    color: $black-shark;
    font-size: 14px;
    display: none;
  }

}
