$header_nav_font_size: 14px;
$header_transition_time: 0.25s;

#header_nav {
  *,
  *::before,
  *::after {
    border-width: 0;
    border-style: solid;
  }

  @media print {
    display: none;
  }
  #header_wrapper {
    display: flex;
    display: -webkit-flex; /* Safari */

    flex-direction: row;
    align-items: center;
  }
  #nav_logo {
    display: none;
  }
  #header_toggle {
    z-index: 550;
    &:focus {
      outline: none;
    }
  }
  position: -webkit-relative;
  position: relative;
  @media (min-width:  $window-medium-px) {
    position: -webkit-sticky;
    position: sticky;
    min-height: $header-height;

  }
  top: 0;
  z-index: 500;

  .navbar-toggler {
    background-color: transparent;
    margin: auto 5px auto 4px;
    width: 35px;
    height: 40px;
    position: relative;
    border: 0;
    padding: 0;
    background: transparent;
    @media (max-width:  $window-mobile-px) {
      width: 20px;
    }
    &:hover {
      text-decoration: none;
      .burger {
        background-color: $white;
      }
    }

    .burger {
      position: absolute;
      display: block;
      width: 20px;
      height: 3px;
      right: 5px;
      background-color: $navy-cove;
      opacity: 1;
      transition-duration: .2s;
      transition-timing-function: cubic-bezier(.5,0,.1,1);
      transition-property: transform,opacity;
      will-change: transform,opacity;
      &:hover {
        text-decoration: none;
      }
    }

    .burger-1, .burger-4 {
      top: 16px;
      opacity: 0;
    }
    .burger-2 {
      transform: rotate(45deg) ;
      top: 18px;
      width: 20px;
    }
    .burger-3 {
      transform: rotate(-45deg);
      top: 18px;
      width: 20px;
    }
    &.collapsed {
      .burger {
        transform: rotate(0deg);
        opacity: 1;
        &.burger-1 {
          top: 10px;
        }
        &.burger-2, &.burger-3 {
          top: 18px;
          width: 20px;
        }
        &.burger-4 {
          top: 26px;
        }
      }
    }
  }
  nav {
    min-height: $header-height;
    &.navbar {
      padding: 0px 15px 0 15px;
      @media (max-width:  $window-mobile-px) {
        padding: 0px 5px 0 15px;
      }
    }
    @media (max-width:  $window-small-px) {
      flex-direction: row !important;
    }
  }
  .dropdown-hide {
    display: none;
  }
  .dropdown-divider-menu {
    display: none;
  }

  font-size: $header_nav_font_size;
  background-color: $navy-bay;

  #nav_logo {
    display: inline-block;
    // padding-top: .3125rem;
    // padding-bottom: .3125rem;
    // padding-left: 1rem;
    padding: 5px 0 5px 0px;

    margin: 0px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    @media (min-width: $window-medium-px) {
      display: none;
      padding: 5px 0 5px 15px;

    }
    a {
      @media (min-width: $window-medium-px) {
        margin-right: 5px;
      }

      img {
        max-width: none;
        height: 35px;
        margin: 0;

      }
    }
  }

  &.scrollnav {
    #nav_logo {
      display: inline-block;
    }
  }

  #header_navbar {

    // transition: flex $header_transition_time,margin $header_transition_time,width $header_transition_time,-ms-flex $header_transition_time;
    // -webkit-transition: flex $header_transition_time,margin $header_transition_time,width $header_transition_time,-ms-flex $header_transition_time;
    // -moz-transition: flex $header_transition_time,margin $header_transition_time,width $header_transition_time,-ms-flex $header_transition_time;
    #header_menu {

      flex-direction: row;
      font-size: $header_nav_font_size;
      line-height: 1.5;
      margin-left: 5px;
      text-align: center;

      &.bz_collapsed {
        width: 0% !important;
        display: none;
      }


      @media (min-width: $window-small-px) {
        .nav_link {
          padding-right: .1rem;
          padding-left: .1rem;
          text-align: center;
        }

      }
      .nav-item  {
        padding: 6px;
      }
      @media (min-width: $window-medium-px) {
        font-size: $header_nav_font_size;
        .nav-item  {
          display: block;
          margin: auto 0px;

        }
      }
      @media (min-width: $window-large-px) {
      }
      @media (min-width: $window-xlarge-px) {
        font-size: $header_nav_font_size;
      }
      font-family: $braze-medium;
    }



    .navbar-nav {
      .nav-link {
        color: $navy-cove;
        line-height: 1;
        @media (min-width:  $window-medium-px) {
          font-size: $header_nav_font_size ;
          padding-top: 0px;
          padding-right: 10px;
          line-height: 1.5;
        }
        @media (min-width:  $window-large-px) {
          font-size: $header_nav_font_size ;
        }
        @media (min-width:  $window-xlarge-px) {
          font-size: $header_nav_font_size;
          padding-right: 15px;
        }
        div {
          display: inline;
          border-bottom-width: 2px;
          border-color: transparent;
          &:hover {
            border-bottom-width: 2px;
            border-color: $blue-scooter;
          }
          transition: all ease $header_transition_time;
          -webkit-transition:  all ease $header_transition_time;
          -moz-transition:  all ease $header_transition_time;
        }
        // &:after {
        //   content: "";
        //   display: block;
        //   width: calc(100%);
        //   height: 2px;
        //   margin: 3px auto 0px auto;
        // }
        &:hover {
          color: $white;
          text-decoration: none;
          @media (min-width:  $window-medium-px) {
            width: fit-content;
          }
          // transition: all ease $header_transition_time;
          // -webkit-transition:  all ease $header_transition_time;
          // -moz-transition:  all ease $header_transition_time;
          // transition: all ease $header_transition_time;
          // -webkit-transition:  all ease $header_transition_time;
          // -moz-transition:  all ease $header_transition_time;
        }
      }
      .active {
        .nav-link {
          div {
            color: $white;
            border-bottom-width: 2px;
            @media (min-width:  $window-medium-px) {
              border-color: $blue-scooter !important;
            }
          }
        }
      }


    }
    .menu-btn {
      background-color: #7e32d4;
      color: white;
      padding: 16px;
      font-size: 20px;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border: none;
   }
   .dropdown-menu {
      position: relative;
      display: inline-block;
      padding: 2.5rem;
      line-height: 1.6;
      span {
        font-weight: 700;
        background-image: linear-gradient(
          90deg
          ,#3ed6e8,rgba(62,214,232,.4));
        -webkit-transition: color .1s ease-in;
        transition: color .1s ease-in;
        background-repeat: repeat-x;
        background-position: 0 1.2em;
        background-size: 100% 3px;
        position: relative;
        padding-bottom: 3px;
      }
   }
   .menu-content {
      display: none;
      position: absolute;
      background-color: #017575;
      min-width: 160px;
      z-index: 1;
   }
   .menu-links {
      color: rgb(255, 255, 255);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid black;
   }
   .menu-links:hover {
      background-color: rgb(8, 107, 46);
   }
   .dropdown-menu:hover .menu-btn {
      background-color: #3e8e41;
   }
  }


  // .navbar-nav .nav-link:hover {
  //   color: $white;
  //   @media (min-width:  $window-medium-px) {
  //     width: fit-content;
  //   }
  //   transition: all ease $header_transition_time;
  //   -webkit-transition:  all ease $header_transition_time;
  //   -moz-transition:  all ease $header_transition_time;
  //   border-bottom-width: 2px;
  //   border-color: $blue-scooter;
  //   // &:after {
  //   //   content: "";
  //   //   display: block;
  //   //   width: calc(100%);
  //   //   height: 2px;
  //   //   margin: 3px auto 0px auto;
  //   //   background-color: $blue-scooter;
  //   //   position: relative;
  //   //
  //   //   left: 50%;
  //   //   transform: translateX(-50%);
  //   // }
  // }
  // .navbar-nav .active .nav-link {
  //   color: $white;
  //   border-bottom-width: 2px;
  //   border-color: transparent;
  //   // &:after {
  //   //   content: "";
  //   //   display: block;
  //   //   width: calc(100%);
  //   //   height: 2px;
  //   //   margin: 3px auto 0px auto;
  //   //   background-color: $blue-scooter;
  //   //   position: relative;
  //   //
  //   //   left: 50%;
  //   //   transform: translateX(-50%);
  //   // }
  //
  //
  // }
  // transition: flex $header_transition_time,margin $header_transition_time,width $header_transition_time,-ms-flex $header_transition_time, font-size .05s,;
  // -webkit-transition: flex $header_transition_time,margin $header_transition_time,width $header_transition_time,-ms-flex $header_transition_time,font-size .05s;
  // -moz-transition: flex $header_transition_time,margin $header_transition_time,width $header_transition_time,-ms-flex $header_transition_time, font-size .05s;
  // $menu_max: 10;
  // $menu_item_offset: 150px;
  // $menu_window_offset:  $window-small-px - 175px;

  // @for $i from 0 through $menu_max  {
  //   @media (min-width: $window-small-px) {
  //     @media (max-width: $window-medium-px) {
  //       .menu_item_#{$i} {
  //         display: none;
  //       }
  //       .dropdown_item_#{$i} {
  //         display: block;
  //       }
  //     }
  //   }
  //   @media (min-width:  $window-medium-px) {
  //
  //     @media screen and (max-width: $menu_window_offset + ($i * $menu_item_offset)) {
  //       .dropdown-divider-menu {
  //         display: block;
  //       }
  //       .menu_item_#{$i} {
  //         display: none;
  //       }
  //       .dropdown_item_#{$i} {
  //         display: block !important;
  //       }
  //     }
  //   }
  // }

  // @media (min-width: $window-small-px) {
  //   transition: all 0.4s ease-in-out;
  //   -webkit-transition: all 0.4s ease-in-out;
  //   -moz-transition: all 0.4s ease-in-out;
  //   &.shrink {
  //     height: 40px;
  //     @media (min-width: $window-large-px) {
  //       a.navbar-brand{
  //         img {
  //           height: 30px;
  //         }
  //       }
  //     }
  //     nav{
  //       min-height: 0px ;
  //     }
  //   }
  // }
  #dropdown_navbar {
    .nav-link {
      div {
        color: $white;
        border-bottom-width: 2px;
        border-color: transparent;
        display: inline;
        &:hover {
          border-bottom-width: 2px;
          border-color: $blue-scooter;
        }
      }
    }
    font-size: 16px;

    font-family: $braze-medium;
    @media (max-width: $window-mobile-px){
      //max-width: 100px;
      font-size: $header_nav_font_size ;
    }
    #dropdown_menu {
      flex-direction: row;
      margin-left: 0px;
      transition: all ease $header_transition_time;
      -webkit-transition:  all ease $header_transition_time;
      -moz-transition:  all ease $header_transition_time;

      #nav_responsive_dropdown {
        div {
          border-bottom-width: 2px;
          border-color: $blue-scooter;
        }
        //padding-right: 10px;
        margin-left: 10px;
        // height: 40px;
        color: $white;
        padding-top: 10px;
        @media(max-width: $window-mobile-px) {

          padding-right: 0px;
          margin-left: 0px;
        }

        &::after {
          border-width: 7px;

          border-top: 7px solid transparent;
          border-right: 0;
          border-bottom: 7px solid transparent;
          border-left: 7px solid;
          // margin-top: 2px;
          transition: all ease 0.075s;
          vertical-align: -2px;
        }
      }
      li.show {
        #nav_responsive_dropdown {

          &:after {
            border-width: 7px;
            border-top: 7px solid;
            border-right: 7px solid transparent;
            border-bottom: 0;
            border-left: 7px solid transparent;
            // margin-top: 0px;
            vertical-align: 3px;
          }
        }
      }

      div {


        &.dropdown-menu  {
          position: absolute;
          margin: 0;
          background-color: $navy-bay;
          min-width: 15rem;
          // border-top-left-radius: 0px;
          // border-top-right-radius: 0px;
          left: -15px;
          top: 52px;
          @media (max-width: $window-mobile-px){
            left: -25px;

          }
          hr {
            border-width: 1px 0 0 0;
            border-color: $navy-cove;
            margin: 10px 0;
          }
          .dropdown-item {
            color: $white;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.6;
            // &.active {
            //   background-color: transparent;
            //   div {
            //     border-bottom-width: 3px;
            //     border-color: $blue-scooter;
            //   }
            // }
            div {
              border-bottom-width: 3px;
              display: inline;
              &:hover {
                border-bottom-width: 3px;
                border-color: $black-shark;
              }
            }
          }
        }
      }
    }
  }
}

.backdrop {
  position: fixed;
  display: none;
  background: #bfbfbf;
  left: 0;
  right: 0;
  bottom: 0;
  top: 96px;
  z-index: 1000;
  opacity: 0.6;
}

.backdrop-show {
  display: block;
}

@import 'braze_header';
@import 'header_search';
@import 'docs_search';
