$search_border_color: #D9D9D9;
$search_color: $navy-bay;
$search_min_width: 250px;

$search_title_width: 250px;
$search_font_size: 14px;
$search_transition_time: 0.25s;

$search_footer_height: 50px;
$search_offset: 65px;

#search-form_div {

  width: 40px;

  @media(max-width: $window-mobile-px) {
    //width: 25px;
    margin-right: 0px;
  }
  @media (max-width: $window-small-px) {
    margin-right: 10px;
  }
  @media (min-width: $window-small-px) {
    width: 115px;
  }
  font-family: $braze-regular;
  #header-search-form {
    font-size: $search_font_size;

    margin-top: 0;
    margin-bottom: 4px;
    padding-top: 6px;
    .aa-Form {
      height: 38px;
      border-radius: 0px;
      background-color: transparent;
      button{
        &:focus {
          outline: none;
        }
      }
      &:focus-within {
        border-color: none;
        box-shadow: none;
        outline: currentColor none medium;
      }
      &:hover {
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $white;
          opacity: 1; /* Firefox */
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $white;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          color: $white;
        }
        border-color: $white;
        color: $white;
        border-width: 1px;
      }
    }
    .aa-Label {
      margin-bottom: 0px;
    }
    .aa-Input {
      height: 38px;
      background-position: left 10px top 9px;
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-color: transparent;
      color: $navy-cove;
      padding-left: 40px;
      padding-right: 0px;
      margin-right: 10px;
      margin-left: -40px;
      //padding-right: 30px;
      border-width: 1px;
      border-color: transparent;
      border-radius: 0px;
      @media (max-width: $window-mobile-px) {
        margin-right: 0px;
        background-position: left 10px top 10px;
      }
      box-shadow: none;
      font-size: $base_font_size;
      width: 106px;
      &:focus {
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $grey-ghost;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $grey-ghost;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          color: $grey-ghost;
        }
        // background-color: $white;
        color: $black-shark;
        // border-color: $black-shark;
        box-shadow: none;
      }

      @media (max-width:  $window-medium-px) {
        color: transparent;
        z-index: 501;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: transparent;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: transparent;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
          color: transparent;
        }
        &:hover {
          color: transparent;
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: transparent;
            opacity: 0; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: transparent;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: transparent;
          }
        }
        &:active , &:focus{
          color: $black-shark;
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $grey-ghost !important;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $grey-ghost !important;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: $grey-ghost !important;
          }
        }
      }

      @media (min-width:  $window-small-px) {

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $navy-cove;
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $navy-cove;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          color: $navy-cove;
        }

      }
      @media (min-width:  $window-medium-px) {
        font-size: $search_font_size ;
        padding-top: 2px;
      }
      @media (min-width:  $window-large-px) {
        font-size: $search_font_size ;

      }
      @media (min-width:  $window-xlarge-px) {
        font-size: $search_font_size;
        padding-right: 15px;

      }
      // padding-right: 2rem;
    }
    transition: all ease $search_transition_time;
    -webkit-transition: all ease $search_transition_time;
    -moz-transition: all ease $search_transition_time;

    &.bz_expanded {
      width: 100% !important;
    }
    // -webkit-transition: left $search_transition_time, width  $search_transition_time; /* For Safari 3.1 to 6.0 */
    // transition: left $search_transition_time, width  $search_transition_time;
    .input-group {
      width: 100%;
      //margin-bottom: 4px;
      @media (min-width: $window-small-px) {
        min-width: 30px;
      }
      @media (min-width: $window-large-px) {
        min-width: 100%;
      }
    }

    .btn {
      height: 30px;
      padding: 0.2rem 0.75rem;
    }

    .aa-Autocomplete,
    .aa-DetachedFormContainer {
      .aa-Form {
      width: 100%;
      .aa-input,
      .algolia-autocomplete .aa-hint {
        width: 100%;
        height: 30px;
        @media (min-width: $window-small-px) {
          width: 100%;
        }
        @media (min-width: $window-medium-px) {
          width: 100%;
        }
        @media (min-width: $window-large-px) {
          width: 100%;
        }
        @media (min-width: $window-xlarge-px) {
          width: 100%;
        }
      }

      .aa-hint {
        color: #999;
      }

      .aa-dropdown-menu {
        // width: 100%;
        background-color: $white;
        margin: 0 0 0;
        border: 1px solid $grey-dust;
        border-top: none;
        min-width: $search_min_width;
        max-width: 100%;
        right: -250px !important;
        left: 0 !important;
        @media (min-width: $window-small-px) {
          left: 0 !important;
        }
        @media (min-width: $window-medium-px) {
          right: 0 !important;
          width: 100%;
        }
        @media (min-width: $window-large-px) {
          width: 100%;
        }
        @media (min-width: $window-xlarge-px) {
          width: 100%;
        }
      }
      .aa-dropdown-menu [class^="aa-dataset-"] {
        position: relative;
        border: solid 1px $search_border_color;
        border-radius: 1px;
        min-width: $search_min_width;
        max-height: calc(100vh - #{ $search_offset });

      }

      .aa-dropdown-menu .aa-suggestions {
        max-width: 100%;
        overflow-x: hidden;
        max-height: calc(100vh - #{ $search_offset + $search_footer_height + 5px });

      }
      .no_results {
        padding: 15px 5px 15px 15px;
        width: 100%;
      }
      .aa-dropdown-menu .aa-suggestion {
        hr {
          margin-top: 15px;
          border-width: 1px;
          border-color: rgba($grey-ghost,0.7);
        }
        &:last-child  {
          hr {
            border-color: transparent;

          }
        }
        cursor: pointer;
        padding: 15px 15px 0px 15px;
        width: 100%;

        a {
          text-decoration: none;

          &:hover {
            color: inherit;
          }
        }

        div {
          &.title {
            font-family: $black-shark;
            font-size: 14px;
            color: $search_color;
            line-height: 1.5;
          }

          &.content {
            display: block;
            width: 100%;
            color: $grey-manatee;
            font-size: 13px;
            line-height: 1.5;
          }

          div {
            &.category {

              text-align: right;
              display: inline;

            }
          }
        }
      }

      .aa-dropdown-menu .aa-suggestion.aa-cursor {
        background-color: $grey-athens ;
      }

      .aa-dropdown-menu .aa-suggestion em {
        font-family: $braze-black;
        color: $black-shark;
        font-style: normal;
      }
      #algolia_footer {
        height: $search_footer_height;
        border-top: 1px solid rgba($grey-ghost,0.7);
        margin: 0 15px 0 15px;

        .algolia-docsearch-footer {
            height: $search_footer_height;
            font-size: 0;
            line-height: 0;
            position: absolute;
            left: 0;
            margin: auto 10px;
        }


        }
      }
    }
  }
  #header-search-panel {
    z-index: 800;
    .aa-Panel {
      top: 38px !important;
      box-shadow: none;
      border-radius: 0;
      border: 1px solid black;
      font-size: $search_font_size ;
      .aa-Item {
        hr {
          margin-top: 15px;
          border-width: 1px;
          border-color: rgba($grey-ghost,0.7);
        }
        &:last-child  {
          hr {
            border-color: transparent;
          }
        }
      }

      cursor: pointer;
      width: 100%;

      a {
        text-decoration: none;
        &:hover {
          color: inherit;
        }
      }

      div {
        &.title {
          font-family: $black-shark;
          font-size: 14px;
          color: $search_color;
          line-height: 1.5;
        }

        &.content {
          display: block;
          width: 100%;
          color: $grey-manatee;
          font-size: 13px;
          line-height: 1.5;
        }

        div {
          &.category {

            text-align: right;
            display: inline;

          }
        }
      }
    }
    #algolia-headersearch-advanced {
        height: $search_footer_height;
        font-size: 13px;
        line-height: 50px;
        font-family: $braze-black;
        color: $navy-bay;
        position: absolute;
        right: 0;
        margin: auto 15px auto 0;
        cursor: pointer;
        a {
          color: $navy-bay;
          &:hover {
            color: $navy-bay;
            text-decoration: none;
          }
        }
    }

  }
}

#header_nav {
  &.search_focus{
    #header_wrapper {
      position: absolute;
      @media (max-width: $window-small-px) {
        #nav_logo {
          visibility: hidden;
        }
      }
    }
    #header_menu{
      flex: 0 0 auto;

      margin: 0;
      //visibility: hidden;
      //width: 1px;
      //height: 1px;
      z-index: 550 !important;
      &.hide_overflow {
        font-size: 1px;
        overflow: hidden !important;
      }
    }

    #search-form_div {
      transition: all ease $search_transition_time;
      -webkit-transition: all ease $search_transition_time;
      -moz-transition: all ease $search_transition_time;
      //flex: 1 0 auto;
      width: 400px;
      .aa-Form {
        background-color: white;
      }
    }
    #header-search-form {
      transition: all ease $search_transition_time;
      -webkit-transition: all ease $search_transition_time;
      -moz-transition: all ease $search_transition_time;
      width: 100%;
      //padding-left: 1%;
    }
    .aa-Input {
      box-shadow: none;
      margin-bottom: 0px !important;
      padding-left: 0px !important;
      margin-left: 0px !important;
    }

    .navbar-toggler {
      display: none !important;
    }
  }
}
