$search_border_color: #d9d9d9;
$search_color: $braze-purple-dark;
$search_min_width: 250px;

$search_title_width: 250px;
$search_font_size: 14px;
$search_transition_time: 0.25s;

$search_footer_height: 50px;
$search_offset: 65px;
$search_icon: $white;

#navbar-search {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-left: auto;
	.navbar-nav {
		align-items: center;
		justify-items: center;
	}
	a {
		font-family: $braze-regular;
		color: $header-nav;
	}
	i {
		color: $braze-pink;
	}
	.nav-link {
		display: inline-flex;
		gap: 5px;
		align-items: center;
	}
	@media (max-width: $window-medium-px) {
		#site-link {
			display: none;
		}
	}
}
#search-form_div {
	.aa-SubmitIcon {
		color: $white;
	}
	@media (max-width: $window-mobile-px) {
		margin-right: 0px;
	}
	@media (max-width: $window-small-px) {
		margin-right: 10px;
	}
	@media (min-width: $window-small-px) {
		width: 115px;
	}
	font-family: $braze-regular;
	#header-search-form {
		font-size: $search_font_size;

		margin-top: 0;
		margin-bottom: 4px;
		padding-top: 6px;
		.aa-Form {
			height: 38px;
			border-radius: 20px;
			background-color: transparent;
			button {
				&:focus {
					outline: none;
				}
			}
			&:focus-within {
				border-color: none;
				box-shadow: none;
				outline: currentColor none medium;
			}
			&:hover {
				&::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: $white;
					opacity: 1; /* Firefox */
				}
				&:-ms-input-placeholder {
					/* Internet Explorer 10-11 */
					color: $white;
				}

				&::-ms-input-placeholder {
					/* Microsoft Edge */
					color: $white;
				}
				border-color: $white;
				color: $white;
				border-width: 1px;
			}
		}
		.aa-Label {
			margin-bottom: 0px;
		}
		label {
			color: $white;
		}
		.aa-Input {
			height: 38px;
			background-position: left 10px top 9px;
			background-size: 14px 14px;
			background-repeat: no-repeat;
			background-color: transparent;
			color: $header-nav;
			padding-left: 40px;
			padding-right: 14px;
			margin-right: 10px;
			margin-left: -40px;
			border-width: 1px;
			border-color: transparent;
			border-radius: 0px;
			width: 106px;
			@media (max-width: $window-mobile-px) {
				margin-right: 0px;
				background-position: left 10px top 10px;
			}
			@media (max-width: $window-small-px) {
				width: 40px;
			}
			@media (max-width: $window-medium-px) {
				padding-right: 6px;
			}
			box-shadow: none;
			font-size: $base_font_size;

			&:focus {
				.aa-SubmitIcon {
					color: $black;
				}
				&::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: $grey-ghost;
				}
				&:-ms-input-placeholder {
					/* Internet Explorer 10-11 */
					color: $grey-ghost;
				}

				&::-ms-input-placeholder {
					/* Microsoft Edge */
					color: $grey-ghost;
				}
				color: $black-shark;
				box-shadow: none;
			}

			@media (max-width: $window-medium-px) {
				color: transparent;
				z-index: 501;
				&::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: transparent;
					padding: 0;
				}
				&:-ms-input-placeholder {
					/* Internet Explorer 10-11 */
					color: transparent;
				}
				&::-ms-input-placeholder {
					/* Microsoft Edge */
					color: transparent;
				}
				&:hover {
					color: transparent;
					&::placeholder {
						/* Chrome, Firefox, Opera, Safari 10.1+ */
						color: transparent;
						opacity: 0; /* Firefox */
					}

					&:-ms-input-placeholder {
						/* Internet Explorer 10-11 */
						color: transparent;
					}

					&::-ms-input-placeholder {
						/* Microsoft Edge */
						color: transparent;
					}
				}
				&:active,
				&:focus {
					color: $black-shark;
					&::placeholder {
						/* Chrome, Firefox, Opera, Safari 10.1+ */
						color: $grey-ghost !important;
					}
					&:-ms-input-placeholder {
						/* Internet Explorer 10-11 */
						color: $grey-ghost !important;
					}

					&::-ms-input-placeholder {
						/* Microsoft Edge */
						color: $grey-ghost !important;
					}
				}
			}

			@media (min-width: $window-small-px) {
				&::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: $white;
					font-family: $braze-medium;
					opacity: 1; /* Firefox */
					bottom: -1px;
				}

				&:-ms-input-placeholder {
					/* Internet Explorer 10-11 */
					color: $white;
				}

				&::-ms-input-placeholder {
					/* Microsoft Edge */
					color: $white;
				}
			}
			@media (min-width: $window-medium-px) {
				font-size: $search_font_size;
			}
			@media (min-width: $window-large-px) {
				font-size: $search_font_size;
			}
			@media (min-width: $window-xlarge-px) {
				font-size: $search_font_size;
				padding-right: 15px;
			}
		}
		transition: all ease $search_transition_time;
		-webkit-transition: all ease $search_transition_time;
		-moz-transition: all ease $search_transition_time;

		&.bz_expanded {
			width: 100% !important;
		}
		.input-group {
			width: 100%;
			@media (min-width: $window-small-px) {
				min-width: 30px;
			}
			@media (min-width: $window-large-px) {
				min-width: 100%;
			}
		}

		.btn {
			height: 30px;
			padding: 0.2rem 0.75rem;
		}

		.aa-Autocomplete,
		.aa-DetachedFormContainer {
			.aa-Form {
				width: 100%;
				.aa-input,
				.algolia-autocomplete .aa-hint {
					width: 100%;
					height: 30px;
					@media (min-width: $window-small-px) {
						width: 100%;
					}
					@media (min-width: $window-medium-px) {
						width: 100%;
					}
					@media (min-width: $window-large-px) {
						width: 100%;
					}
					@media (min-width: $window-xlarge-px) {
						width: 100%;
					}
				}

				.aa-hint {
					color: #999;
				}

				.aa-dropdown-menu {
					// width: 100%;
					background-color: $white;
					margin: 0 0 0;
					border: 1px solid $grey-dust;
					border-top: none;
					min-width: $search_min_width;
					max-width: 100%;
					right: -250px !important;
					left: 0 !important;
					@media (min-width: $window-small-px) {
						left: 0 !important;
					}
					@media (min-width: $window-medium-px) {
						right: 0 !important;
						width: 100%;
					}
					@media (min-width: $window-large-px) {
						width: 100%;
					}
					@media (min-width: $window-xlarge-px) {
						width: 100%;
					}
				}
				.aa-dropdown-menu [class^="aa-dataset-"] {
					position: relative;
					border: solid 1px $search_border_color;
					border-radius: 1px;
					min-width: $search_min_width;
					max-height: calc(100vh - #{$search_offset});
				}

				.aa-dropdown-menu .aa-suggestions {
					max-width: 100%;
					overflow-x: hidden;
					max-height: calc(
						100vh - #{$search_offset + $search_footer_height + 5px}
					);
				}
				.no_results {
					padding: 15px 5px 15px 15px;
					width: 100%;
				}
				.aa-dropdown-menu .aa-suggestion {
					hr {
						margin-top: 15px;
						border-width: 1px;
						border-color: rgba($grey-ghost, 0.7);
					}
					&:last-child {
						hr {
							border-color: transparent;
						}
					}
					cursor: pointer;
					padding: 15px 15px 0px 15px;
					width: 100%;

					a {
						text-decoration: none;

						&:hover {
							color: inherit;
						}
					}

					div {
						&.title {
							font-family: $braze-medium;
							font-size: 14px;
							color: $search_color;
							line-height: 1.5;
						}

						&.content {
							display: block;
							width: 100%;
							color: $grey-manatee;
							font-size: 13px;
							line-height: 1.5;
						}

						div {
							&.category {
								text-align: right;
								display: inline;
							}
						}
					}
				}

				.aa-dropdown-menu .aa-suggestion.aa-cursor {
					background-color: $grey-athens;
				}

				.aa-dropdown-menu .aa-suggestion em {
					font-family: $braze-medium;
					color: $black-shark;
					font-style: normal;
				}
				#algolia_footer {
					height: $search_footer_height;
					border-top: 1px solid rgba($grey-ghost, 0.7);
					margin: 0 15px 0 15px;

					.algolia-docsearch-footer {
						height: $search_footer_height;
						font-size: 0;
						line-height: 0;
						position: absolute;
						left: 0;
						margin: auto 10px;
					}
				}
			}
		}
		.aa-InputWrapperSuffix {
			display: none;
		}
	}
	#header-search-panel {
		z-index: 800;
		.aa-Panel {
			top: 38px !important;
			box-shadow: none;
			border-radius: 0;
			border: 1px solid black;
			font-size: $search_font_size;
			.aa-Item {
				hr {
					margin-top: 5px;
					margin-bottom: 15px;
					border-width: 1px;
					border-color: rgba($grey-ghost, 0.7);
				}
			}

			cursor: pointer;
			width: 100%;

			a {
				text-decoration: none;
				&:hover {
					color: inherit;
				}
			}

			div {
				&.title {
					font-family: $braze-regular;
					font-size: 14px;
					color: $search_color;
					line-height: 1.5;
					display: inline-block;
				}

				&.content {
					display: block;
					width: 100%;
					color: $grey-manatee;
					font-size: 13px;
					line-height: 1.5;
				}

				div {
					&.category {
						text-align: right;
						display: inline;
					}
				}
			}
		}
		#algolia-headersearch-advanced {
			height: $search_footer_height;
			font-size: 13px;
			line-height: 50px;
			font-family: $braze-medium;
			color: $braze-purple-dark;
			position: absolute;
			right: 0;
			margin: auto 15px auto 0;
			cursor: pointer;
			a {
				color: $braze-purple;
				&:hover {
					color: $braze-purple;
					text-decoration: none;
				}
			}
		}
	}
}

#header_nav {
	&.search_focus {
		#header_wrapper {
			@media (max-width: $window-small-px) {
				display: none;
			}
		}
		#navbar-search {
			margin-right: 0;
			display: flex;
			justify-content: right;
			@media (max-width: $window-small-px) {
				max-width: 100%;
				width: 100%;
			}
		}
		.aa-SubmitIcon {
			color: $black;
		}
		#header_menu {
			flex: 0 0 auto;

			margin: 0;
			z-index: 550 !important;
			&.hide_overflow {
				font-size: 1px;
				overflow: hidden !important;
			}
		}
		transition: all ease $search_transition_time;
		-webkit-transition: all ease $search_transition_time;
		-moz-transition: all ease $search_transition_time;

		.aa-Panel {
			left: calc(100vw - 430px) !important;
		}
		@media (max-width: $window-mobile-px) {
			.aa-Panel {
				left: calc(100vw - 360px) !important;
			}
		}
		#search-form_div {
			transition: all ease $search_transition_time;
			-webkit-transition: all ease $search_transition_time;
			-moz-transition: all ease $search_transition_time;
			width: 100%;
			.aa-Form {
				background-color: white;
				margin-right: 0;
			}
			#header-search-form {
				transition: all ease $search_transition_time;
				-webkit-transition: all ease $search_transition_time;
				-moz-transition: all ease $search_transition_time;
				@media (max-width: $window-small-px) {
					max-width: 100%;
					width: 100%;
				}
				max-width: 261px;
				.aa-InputWrapperSuffix {
					display: flex;
				}
			}
		}
		.aa-Input {
			box-shadow: none;
			margin-bottom: 0px !important;
			padding-left: 0px !important;
			margin-left: 0px !important;
			width: 100% !important;
		}

		.navbar-toggler {
			display: none !important;
		}
	}
}


//  custom css


// body.su__autocomplete-running.su__app-running #su_autocomplete-block {
//     display: none;
// }

#auto .su__bg-blue-grd{
	background-color: #300266 !important;
	padding-bottom: 0px;
    padding-top: 0px;
}


#auto #search-box-autocomplete {
	width: 133px;
    transition: width 0.3s ease-in-out;
    background: transparent;
    box-shadow: none;
    padding-left: 43px;
	color: #fff;
  }
  #auto #search-box-autocomplete:focus + .su__autocomplete-suggestion {
	display: block;
  }

  
  
  #auto #search-box-autocomplete:focus ,
  #auto #search-box-autocomplete.has-text{
	width: 300px; 
	background: white;
    box-shadow: none;
	color: black;
	outline: none;
	border-radius: 11px;
  }

#auto #search-box-autocomplete::placeholder{
	color: white;
	font-weight: bold;
	font-size: 14px;
	font-family: $braze-regular;	
}

#auto #search-box-autocomplete:focus::placeholder {
	color: grey;
	font-weight: bold;
	font-size: 14px;
}
.su__autocomplete-suggestion.su__w-100.su__bg-white.su__sm-shadow.su__position-absolute.su__zindex-2.su__mobile_resultbox.su__hideScroller.su__mt-6px {
    margin-top: -9px;
	box-shadow: none;
	
}
  
#auto .su__linear-loader {
	width: 295px;
    margin-left: 0px;
    margin-bottom: 0px;
	
}


#auto #search-box-autocomplete + svg path {
	fill: white;
	transition: fill 0.3s ease-in-out;
}

#auto #search-box-autocomplete:focus + svg path {
	fill: black;
}

#auto  .svg-search {
    display: none;
}
#auto span.su__color-gray.su__f-bold {
    display: none;
}
#auto span.su__description-truncate {
	color: #475467;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    line-height: 20px;
    margin-bottom: 8px;
    margin-top: 0px;
    white-space: normal;
}

#auto span.su__suggestion-title.su__color-black.su__font-16.su__segoe-ui {
    font-family: "Aribau Grotesk Bold", "Aribau Grotesk", "Aribau Grotesk Regular", Arial, Helvetica, sans-serif !important;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    letter-spacing: 0%;
    vertical-align: middle;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

#auto span.highlight {
    color: #801ED7 !important;
}
#auto .su__recentSearch_result.su__suggestion-desc.su__line-height-n.su__color-lgray.su__suggest {
    font-family: Aribau Grotesk TRIAL;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: black;
}

#auto .su__suggestions-list.su__bg-gray-hover.su__flex-vcenter.su__text-black.su__fontsize-14.su__mb-1.null {
    display: flex;
    align-items: flex-start;
	border-top: 1px solid #EAECF0;
}

#auto .su__suggestions-box-height {
    max-height: 416px;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.4);
	border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
}

#auto button svg path {
    fill: white;
}
#auto:focus-within button svg path {
	fill: black;
  } 

  header#header_nav img {
    margin-bottom: 24px;
}

.su__app {
	padding: 0px !important;
}

.su__mobile_resultbox{
	top: 42px !important;
    width: 100% !important; 
    border-radius: 0 !important;
    overflow-y: scroll !important;
    -ms-overflow-style: none !important;
    /* scrollbar-width: none; */
    position: absolute !important;
    left: unset !important;
    bottom: unset !important;
}

button.su__btn.su__search_btn.su__animate-zoom.su__flex-vcenter.su__position-absolute.su__zindex.su__bg-transparent.su__rtlleft {
	height: 100%;
    left: 0px !important;
}
.su__input-search {
	padding: 0 41px 0 43.64px !important;
}

.su__suggestion-desc.su__align_flex.su__line-height-n.su__font-11.su__color-lgray.su__suggestSummary{
	display: block !important;
}
#auto span.su__ribbon-title.su__font-11.su__px-2.su__rtlml-0.su__d-inline-block.su__radius-3.su_source_label_font.su__f-normal.su__sc-loading.su__source-label {
    display: none;
}
#auto button.su__btn.su__search_btn.su__animate-zoom.su__flex-vcenter.su__position-absolute.su__zindex.su__bg-transparent.su__rtlleft {
    right: unset;
}