$help_transition_time : 0.25s;
#help-main {
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  @media (min-width: $window-large-px) {
    margin-top:30px;
  }
  @media (min-width: $window-xlarge-px) {
    max-width: $main_max_width;
    margin-left: auto;
    margin-right: auto;
  }


  h1 {
    color: $black-shark;
    font-family: $braze-medium;
  }
  .help_menu_title {
    margin-top: 40px;
    color: $navy-bay;
  }
  #help_step2 {
    width: 100%;
    margin-bottom: 5px;

    #help_list {
      display: flex;
      display: -webkit-flex; /* Safari */

      flex-direction: column;
      @media (min-width:  $window-medium-px) {
        flex-direction: row;
        flex-wrap: wrap;


      }

      a {
        color: $text-color;
        text-decoration: none;
        border-bottom-width: 0;
        border-color: inherit;
        background-color: inherit;
        display: flex;
        display: -webkit-flex; /* Safari */

        margin-bottom: 15px;
        //width: 100%;
        flex: 0 0 100%;
        @media (min-width:  $window-medium-px) {
          flex: 0 0 47%;
          margin-bottom: 30px;
          margin-right: 3%;
          //margin-left: 1.5%;
        }
        @media (min-width:  $window-large-px) {
          flex: 0 0 30.3%;
        }
        &:hover {
          background-color: transparent;
          .help_item {
            border-color: $braze-link-color;
          }
        }
      }


      .help_item {

        width: 100%;
        height: 60px;

        color: $black-shark;
        @media (min-width:  $window-medium-px) {


        }



        display: flex;
        display: -webkit-flex; /* Safari */

        vertical-align: top;
        text-align: left;
        font-size: 15px;
        font-family: $braze-regular;

        overflow: hidden;
        border: 1px solid $grey-ghost;
        box-shadow: 0 0 6px 0 rgba(32,32,36,0.12);
        border-radius: 2px;

        .help_img {

          flex: 0 0 70px;
          display: block;
          margin: auto;
          img {
            display: block;
            margin: auto;
            width: 40px;
            height: 40px;
            position: relative;
            top: 50%;
          }
        }
        .help_info {

        }
      }
    }
  }
  #help_step1 {
    margin-bottom: 30px;
    @media (min-width:  $window-medium-px) {
      margin-bottom: 45px;
    }

    #help_status {
      border: 1px solid $grey-ghost;
      box-shadow: 0 0 6px 0 rgba(32,32,36,0.12);
      border-radius: 2px;
      padding: 15px 25px;
      &:hover {
        border-color: $braze-link-color;
      }
      .help_color-dot {
          -webkit-border-radius: 99px;
          -moz-border-radius: 99px;
          border-radius: 99px;
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-top: 2px;
          margin-right: 8px;
          opacity: 1;
      }

      .help_color-dot.critical {
          background-color: #ff5b68;
      }

      .help_color-dot.major {
          background-color: #ff5b68;
      }

      .help_color-dot.minor {
          background-color: #ff9349;
      }

      .help_color-dot.none {
          background-color: #66d4b3;
      }

      .help_status_description {
        padding-top: 5px;
        font-family: $braze-regular;
        color: $black-shark;
        opacity: 0.7;
        display: inline-block;
        font-size: 16px;
      }
    }
  }
  .help_info {
    width: 97%;
    display: block;
    padding: 0 20px 0 0 ;
    margin-top: auto;
    margin-bottom: auto;
    .help_name {
      font-family: $braze-regular;
      color: $text-color;
      font-size: 16px;
      line-height: 1.8;
    }
    .help_description {
      margin-top: auto;
      margin-bottom: auto;
      color: $text-color;
      font-family: $braze-regular;
      font-size: 16px;
      line-height: 1.8;
      display: inline-block;
    }

  }
  #help_search {
    #help-search-form {
      width: 97%;
      border: 1px solid $grey-ghost;
      box-shadow: 0 0 6px 0 rgba(32,32,36,0.12);
      border-radius: 4px;
      margin-top: 15px;
      padding: 25px;
      .input-group{
        width: 100%;

        input {
          border: 1px solid $grey-ghost;
          border-radius: 0;
          flex: none;


          width: 100%;
          height: 40px;
          // background-position: right 12px top 11px;
          // background-size: 18px 18px;
          // background-repeat: no-repeat;
          // background-color: transparent;
          // background-image:url(#{$base_url}/assets/img/search_black_shark.svg);
          opacity: 0.7;
          &:hover {
            opacity: 1;
            .btn {
              opacity: 1;
            }
          }
        }
      }
      .btn {
        margin: 0 0 0 -40px;
        color: $black-shark;
        z-index: 100;
        padding: 4px 12px;
        background-color: transparent;
        opacity: 0.7;
      }
    }
  }
  h4 {
    font-family: $braze-regular;
  }
  *,
  *::before,
  *::after {
    border-width: 0;
    border-style: solid;
  }
  a {
    display: inline;
    color: $black-shark;

    border-bottom-width: 2px;
    border-color: $braze-link-color;
    text-decoration: none;
    transition: all ease $help_transition_time;
    -webkit-transition:  all ease $help_transition_time;
    -moz-transition:  all ease $help_transition_time;
    &:hover {
      background-color: none;
    }
  }



}
.footer_help {
  @media (min-width:  $window-medium-px) {
    width: 97%;
  }
}
