#main_content {
	#article-main,
	#featured_main,
	#dev-main,
	#api-main {
		.coderow {
			margin-left: 0;
		}

		ul.ab-nav,
		ul.ab-sub_nav {
			margin-bottom: 0;
			margin-left: 0 !important;
			padding-left: 0;
			list-style: none;
			border-bottom: 2px solid transparent !important;

			> li {
				position: relative;
				display: block;
				&::before {
					content: none !important;
					font-size: 12px;
					vertical-align: middle;
				}
				> a {
					position: relative !important;
					display: block !important;
					padding: 5px 15px;
					cursor: pointer;
					font-size: 14px;

					border-color: transparent !important;
					&:hover,
					&:focus {
						text-decoration: none;
						background-color: $white;
					}
				}
			}

			&::before,
			&::after {
				content: " ";
				display: table;
			}
			&::after {
				clear: both;
			}
		}

		ul.ab-nav-tabs,
		ul.ab-sub_nav-sub_tabs {
			border-bottom: 2px solid transparent;
			> li {
				float: left;
				margin-bottom: -3px;
				border: 1px solid transparent;

				> a {
					color: $black-shark;
					margin-right: 2px;
					line-height: 25px;
					border: 1px solid transparent;
					border-radius: 4px 4px 0 0;
					border-bottom-width: 2px;
					border-bottom-color: transparent;
					text-transform: uppercase;
					&:hover {
						color: $braze-purple;
						background-color: $white;
					}
				}
			}
		}
		ul.ab-nav-tabs {
			> li {
				&.active {
					color: $braze-purple;
					background-color: $white;
					border: 1px solid $grey-ghost;
					border-radius: 4px 4px 0 0;
					//border-top-left-radius: 2px;
					//border-top-right-radius: 2px;
					border-bottom-color: transparent;
					cursor: default;
					a {
						color: $braze-purple;
						border-bottom-width: 2px;
						border-bottom-color: transparent;
						&:hover {
							color: $braze-purple;
							background-color: $white;
						}
					}
				}
			}
		}
		ul.ab-sub_nav-sub_tabs {
			> li {
				&.sub_active {
					color: $braze-purple;
					background-color: $white;
					border: 1px solid $grey-ghost;
					border-radius: 4px 4px 0 0;
					//border-top-left-radius: 2px;
					//border-top-right-radius: 2px;
					border-bottom-color: transparent;
					cursor: default;
					a {
						color: $braze-purple;
						border-bottom-width: 2px;
						border-bottom-color: transparent;
						&:hover {
							color: $braze-purple;
							background-color: $white;
						}
					}
				}
			}
		}

    .ab-tab-content, .ab-sub_tab-content {
      margin-bottom: 30px;
      padding: 20px 20px 0 20px;
      p {
        padding: 0;
      }
      border: 1px solid $grey-ghost;
    }
    .ab-tab-content {
      > .ab-tab-pane {
        display: none;
      }
      > .active {
      display: block;
      }
    }
    .ab-sub_tab-content {
      > .ab-sub_tab-pane {
        display: none;
      }
      > .sub_active {
      display: block;
      }
    }
    // Sdk tabs css
    .sdkrow {
      margin-left: 0;
    }

    ul.sdk-ab-nav,
		ul.sdk-ab-sub_nav {
      margin-bottom: 10px;
      margin-left: 0 !important;
      padding-left: 0;
      list-style: none;

      > li {
        position: relative;
        display: block;
        &::before {
          content: none !important;
          font-size: 12px;
          vertical-align: middle;
        }
        > a {
         position: relative !important;
         display: block !important;
         padding: 5px 15px;
         cursor: pointer;
         font-size: 14px;

         border: 1px solid $blue-ice !important;
         border-radius: 5px !important;
         &:hover,
         &:focus {
           text-decoration: none;
           background-color: $white;
         }
       }
      }

      &::before,
      &::after {
        content: " ";
        display: table;
      }
      &::after {
        clear: both;
      }
    }

    ul.sdk-ab-nav-tabs,
		ul.sdk-ab-sub_nav-sub_tabs{

      > li {
        float: left;
        margin-bottom: 10px;
        margin-right: 10px;
        > a {
          color: $black-shark;
          margin-right: 2px;
          line-height: 25px;
          text-transform: uppercase;
          &:hover {
            color: $braze-purple;
            background-color: $white;
          }
        }
      }

      > li {
        &.active {
          color: $braze-purple;
          background-color: $white ;
          border-radius: 5px;
          border-color: $braze-purple;
          cursor: default;
          a {
            color: $braze-purple;

            &:hover {
              color: $braze-purple;
              background-color: $white;
            }
          }
        }
      }
    }
		ul.sdk-ab-sub_nav-sub_tabs {
			> li {
				&.sub_active {
					color: $braze-purple;
          background-color: $white ;
          border-radius: 5px;
          border-color: $braze-purple;
          cursor: default;
          a {
            color: $braze-purple;

            &:hover {
              color: $braze-purple;
              background-color: $white;
            }
          }
				}
			}
		}
    .sdk-tab-content, .sdk-ab_sub_tab-content {
      padding: 20px 20px 0 20px;
      p {
        padding: 0;
      }

      > .sdk-ab-tab-pane {
        display: none;
      }
      > .active {
        display: block;
      }
    }

		.sdk-ab-sub_tab-content {
      > .sdk-ab-sub_tab-pane {
        display: none;
      }
      > .sub_active {
      	display: block;
      }
    }
  }
}
