//Font Variables
$braze-light: 'Sailec W00 Light', Arial, Helvetica, sans-serif;
$braze-light-oblique: 'Sailec W00 Light Italic', Arial, Helvetica, sans-serif;
$braze-thin: 'Sailec W00 Thin', Arial, Helvetica, sans-serif;
$braze-regular: 'Sailec W00 Regular', Arial, Helvetica, sans-serif;
$braze-regular-oblique: 'Sailec W00 Italic', Arial, Helvetica, sans-serif;
$braze-heavy: 'Sailec W00 Demi', Arial, Helvetica, sans-serif;
$braze-heavy-oblique:'Sailec W00 Demi Italic', Arial, Helvetica, sans-serif;
$braze-medium: 'Sailec W00 Medium', Arial, Helvetica, sans-serif;
$braze-medium-oblique: 'Sailec W00 Medium Italic', Arial, Helvetica, sans-serif;
$braze-black: 'Sailec W00 Bold', Arial, Helvetica, sans-serif;
$braze-black-oblique: 'Sailec W00 Bold Italic', Arial, Helvetica, sans-serif;

$braze-code: 'Roboto Mono', monospace;


$base_url: '/docs';


$base_font_size: 16px;
$banner_height: 80px;
$header_height: 60px;
$footer_height: 60px;
$base_off_set: $base_font_size * 1.5;
$calc_offset_top: $header_height + $base_off_set;
$calc_offset_view: $header_height  + $base_off_set;

// Body Variables
$spacing-unit: 30px;
$window-mobile-px: 400px;
$window-small-px: 576px;
$window-medium-px: 768px;
$window-large-px: 992px;
$window-xlarge-px: 1200px;
$window-xxlarge-px: 1400px;

$main_max_width: 940px;

// Core palate (colors)
$white: #ffffff;
$black: #000000;
$black-shark: #212123;
$navy-bay: #27368f;
// Lighter versions of navy-bay
$navy-cove: #7c86bc;

$blue-scooter: #3accdd;


$braze-link-color: $blue-scooter;
// Lighter versions of blue-scooter
$blue-blizzard: #a6e8f0;
$blue-ice: #def6f9;
$blue-silver: #F5F9FC;
$blue-ocean: #23A8B7;
$orange-coral: #ff9349;
// Lighter versiosn of orange-coral
$orange-peach: #ffc298;
$orange-linen: #ffe9db;

$pink-oyster: #f7918e;
// Lighter versions of pink-oyster
$pink-apricot: #fbc3c2;
$pink-cinderella: #feecec;

$red-rose: #C6132C;
$yellow-gold: #C48D3C;
$yellow-beige: #E8CBA1;
$yellow-cream: #FEFBE8;

$purple-orchard: #B766AD;
$purple-lavender: #E8B5E2;
$purple-ghost: #F8EEF7;


$green-grass: #169B72;
$green-pea: #96D9C4;
$green-mint: #EEF9F5;

$gradient-main: linear-gradient(30deg, $blue-scooter, $pink-oyster 64%, $orange-coral 90%);

$grey-metal: #333335;
$grey-dust: #5b5b5e;
$grey-boulder: #6d6d70;
$grey-manatee: #828284;
$grey-stardust: #99999b;
$grey-french: #c6c6cc;
$grey-ghost: #dddde2;
$grey-athens: #f4f4f7;

$text-color: $grey-boulder;
$header-color: $black-shark;

$z-index-normal: 1;
$z-index-header: 2;
$z-index-overlay: 1000;



html {
  max-width: 100%;
}
body {
  max-width: 100%;
  font-family: $braze-regular;
  font-size: $base_font_size;
  line-height: 25px;
  color: $text-color;
  position: relative;
  strong {
    font-family: $braze-regular;
  }

  i {
    font-family: $braze-light-oblique;
  }

  i strong, strong i {
    font-family: $braze-regular-oblique;
  }
}
.row img {
  max-width: 100%;
}

%hover-styling {
  color: $navy-bay;
}

%active-styling {
  color: $blue-scooter;
  &:hover {
    color: $blue-scooter;
  }
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

// Set margin-bottom to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: $spacing-unit / 2;
}

// Links
a {

  color: $header-color;
  text-decoration: none;

  &:hover {
    @extend %hover-styling;
  }
}

// Lists
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}
