// References for hosting fonts
@font-face {
  font-family: "Aribau Grotesk Light";
  src: url("../assets/fonts/AribauGrotesk-Light.woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk Regular";
  src: url("../assets/fonts/AribauGrotesk-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk Regular Italic";
  src: url("../assets/fonts/AribauGrotesk-RegularItalic.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk Bold";
  src: url("../assets/fonts/AribauGrotesk-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk Black";
  src: url("../assets/fonts/AribauGrotesk-Black.woff");
  font-weight: normal;
  font-style: normal;
}

// Font variables for the default font, Aribau Grotesk, as well as fallback font styles and weights.
// Some font variables share the same style or weight to prevent legacy variables from breaking.
$braze-light: 'Aribau Grotesk Light', 'Aribau Grotesk', 'Aribau Grotesk Regular', Arial, Helvetica, sans-serif;
$braze-light-oblique: 'Aribau Grotesk Light Italic','Aribau Grotesk', 'Aribau Grotesk Regular', Arial, Helvetica, sans-serif;
$braze-thin: 'Aribau Grotesk Thin', 'Aribau Grotesk', 'Aribau Grotesk Regular', Arial, Helvetica, sans-serif;
$braze-regular: 'Aribau Grotesk Regular', 'Aribau Grotesk', 'Aribau Grotesk Regular', Arial, Helvetica, sans-serif;
$braze-regular-oblique: 'Aribau Grotesk Regular Italic', 'Aribau Grotesk', 'Aribau Grotesk Regular', Arial, Helvetica, sans-serif;
$braze-heavy: 'Aribau Grotesk Bold', 'Aribau Grotesk', 'Aribau Grotesk Regular', Arial, Helvetica, sans-serif;
$braze-heavy-oblique:'Aribau Grotesk Bold Italic', 'Aribau Grotesk', 'Aribau Grotesk Regular', Arial, Helvetica, sans-serif;
$braze-medium: 'Aribau Grotesk Bold', 'Aribau Grotesk', 'Aribau Grotesk Regular', Arial, Helvetica, sans-serif;
$braze-medium-oblique: 'Aribau Grotesk Bold Italic', 'Aribau Grotesk', 'Aribau Grotesk Regular', Arial, Helvetica, sans-serif;
$braze-black: 'Aribau Grotesk Black', 'Aribau Grotesk', Arial, Helvetica, sans-serif;
$braze-black-oblique: 'Aribau Grotesk Bold Italic', 'Aribau Grotesk', 'Aribau Grotesk Regular', Arial, Helvetica, sans-serif;

// Monospace font for code
$braze-code: 'Roboto Mono', monospace;

// Base URL variable for link prefixes
$base_url: '/docs';

// Basic layout measurements
$base_font_size: 16.5px;
$banner_height: 80px;
$header_height: 60px;
$footer_height: 60px;
$calc_offset_top: $header_height;
$calc_offset_view: $header_height;

// Body variables—Responsive breakpoints and layout dimensions
$spacing-unit: 30px;
$window-mobile-px: 400px;
$window-small-px: 576px;
$window-medium-px: 768px;
$window-large-px: 992px;
$window-xlarge-px: 1200px;
$window-xxlarge-px: 1400px;
$nav_width: 280px;
$nav_width_collapsed: 40px;
$toc_width: 220px;
$main_max_width: 900px;

// Core palate (colors)
$white: #ffffff;
$black: #000000;
$black-shark: #212123;
$header-nav: #ffffff;
$left-nav: #212123;
$braze-purple: #801ED7;
$braze-pink: #FFA4FB;
$braze-orange: #FFA524;

// Other versions of core palette
$braze-purple-light: #C9C4FF;
$braze-purple-dark: #300266;
$braze-pink-light: #F8D3E8;
$braze-pink-dark: #91186E;
$braze-orange-light: #FFD4BC;
$braze-orange-dark: #E9371F;

// OLD
$navy-bay: #27368f;
// Lighter versions of navy-bay
$navy-cove: #7c86bc;
$blue-scooter: #3accdd;

$braze-link-color: $braze-purple;
// Lighter versions of blue-scooter
$blue-blizzard: #a6e8f0;
$blue-ice: #def6f9;
$blue-silver: #F5F9FC;
$blue-ocean: #23A8B7;
$orange-coral: #ff9349;
// Lighter versiosn of orange-coral
$orange-peach: #ffc298;
$orange-linen: #ffe9db;

$pink-oyster: #f7918e;
// Lighter versions of pink-oyster
$pink-apricot: #fbc3c2;
$pink-cinderella: #feecec;

$red-rose: #C6132C;
$yellow-gold: #C48D3C;
$yellow-beige: #E8CBA1;
$yellow-cream: #FEFBE8;

$purple-orchard: #B766AD;
$purple-lavender: #E8B5E2;
$purple-ghost: #F8EEF7;


$green-grass: #169B72;
$green-pea: #96D9C4;
$green-mint: #EEF9F5;

// Gradient for main theme
$gradient-main: linear-gradient(30deg, $blue-scooter, $pink-oyster 64%, $orange-coral 90%);

// Grey scale color palette
$grey-metal: #333335;
$grey-dust: #5b5b5e;
$grey-boulder: #6d6d70;
$grey-manatee: #828284;
$grey-stardust: #99999b;
$grey-french: #c6c6cc;
$grey-ghost: #dddde2;
$grey-athens: #f4f4f7;

// Default text and header colors
$text-color: #475467;
$header-color: $black-shark;

// Z-index layering variables
$z-index-normal: 1;
$z-index-header: 2;
$z-index-overlay: 1000;


// Global HTML and body styling, including font, color, and layout
html {
  max-width: 100%;
}
body {
  max-width: 100%;
  font-family: $braze-regular;
  font-size: $base_font_size;
  line-height: 30px;
  color: $text-color;
  position: relative;
  strong {
    font-family: $braze-medium;
  }

  i {
    font-family: $braze-light-oblique;
  }

  i strong, strong i {
    font-family: $braze-regular-oblique;
  }
}
.row img {
  max-width: 100%;
}

// Mixins for hover and active link styling
%hover-styling {
  color: $navy-bay;
}

%active-styling {
  color: $blue-scooter;
  &:hover {
    color: $blue-scooter;
  }
}

// Reset margins and paddings for common elements to ensure consistent styling
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

// Set margin-bottom to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: $spacing-unit / 2;
}

// Links
a {

  font-family: $braze-regular;
  color: $header-color;
  text-decoration: none;

  &:hover {
    @extend %hover-styling;
  }
}

// Lists
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

div.details_title {
  margin: -$calc_offset_top 0 4px 0;
  &::before {
    content: none !important;
    display: none !important;
  }
  height: $calc_offset_top;
}
details {
  .detail_div {
    border: 1px solid $grey-ghost !important;
    padding: 30px 30px 0 30px;
  }
  summary {
    display: list-item;
    cursor: pointer;
    font-size: 18px;
    color: $black-shark;
    margin: 17px 0 0 0;
    font-family: $braze-medium;
    margin-bottom: 10px;
  }

 &:hover,
 &:active, &:focus  {
    summary {
      color: $black-shark;
      outline: none;
      font-size: 16px;
      &::-webkit-details-marker {
          color: $black-shark;
      }

      p {
        color: $text-color;
      }
      &::before {
        //background-color: $blue-scooter;
        color: $black-shark;
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    padding: 5px 0 0 0px;
  }
  p, ol, ul {
    padding: 5px 0 0 0px;
    font-size: 16px;
    color: $text-color;
  }
}

/* Disable red highlighting for escape characters in code blocks */
pre code span.se {
  color: inherit !important;
  background: none !important;
  font-weight: normal !important;
}
