
.scrolly-container {
  display: flex;
}

.scrolly-text {
  flex: 1;
  max-height: 80vh;
  overflow-y: auto;
  scroll-margin-top: 10vh;
  padding-bottom: 200px; /* required to allow the last step to scroll fully into view */
}

.scrolly-step {
  background: #f9f9f9;
  color: #222;
  padding: 1rem;
  border-radius: 0;
  transition: border-color 0.3s ease, background 0.3s ease;
  cursor: pointer;
}

.scrolly-step[data-active="true"] {
  background: #f0f7ff;
  border: solid 0px #310c66 !important;
  border-left-width: 5px !important;
}

.step-title {
  margin-top: 0;
  font-size: 1.25rem;
}

.scrolly-code {
  width: 100%;
  max-width: 700px;
  height: 80vh;
  overflow-y: auto;
  position: sticky;
  top: 10vh;
  align-self: flex-start;
}

.code-sticky {
  position: relative;
}

.code-animate {
  background: #f9f9f9;
  padding: 1rem;
  min-height: 400px;
  font-family: monospace;
  white-space: pre;
  transition: all 0.3s ease;
  overflow-x: auto; /* The container scrolls horizontally */
  position: absolute;
  width: 100%;
  height: 100%;
}

.code-animate code {
  display: block;
  width: 100%;
  position: relative;
}

pre code.hljs {
  overflow-x: hidden;
}

/* Each code line is a block-level element */
.code-line {
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

/* The overlay element that serves as the highlight */
.highlight-overlay {
  top: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba(216, 236, 255, 0.3);
  pointer-events: none;
  transition: top 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.code-blocks {
  font-size: 14px;
}

.scrolly-tab {
  background: #0d1117;
  border: none;
  padding: 0.2rem 0.7rem;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 20px;
}
.scrolly-tab i {
  margin-right: 3px;
}

.scrolly-tab.scrolly-active-tab {
  font-weight: 500;
  background: #310c66;
  color: white;
}

.scrolly-tab-selector {
  position: sticky;
  top: 0;
  background: #0d1116;
  z-index: 99;
  padding: 15px;
  display: flex;
  gap: 0.5rem;
}

.scrolly-tab-selector button:hover {
  background: #0d1117;
}

/* Highlight.js light theme override */
.hljs {
  background: #f9f9f9;
  color: #333;
}

.hljs-keyword,
.hljs-title,
.hljs-built_in {
  color: #005cc5;
}

.hljs-string {
  color: #032f62;
}

.hljs-comment {
  color: #6a737d;
  font-style: italic;
}

.hljs-number {
  color: #22863a;
}

.hljs-function {
  color: #6f42c1;
}
