$search_padding: 20px;
$search_font_size: 14px;
$base_url : '/docs';

// Core palate (colors)
$white: #ffffff;
$black: #000000;
$black-shark: #212123;
$navy-bay: #27368f;
// Lighter versions of navy-bay
$navy-cove: #7c86bc;


$blue-scooter: #3accdd;

$braze-link-color: $blue-scooter;

// Lighter versions of blue-scooter
$blue-blizzard: #a6e8f0;
$blue-ice: #def6f9;


$orange-coral: #ff9349;
// Lighter versiosn of orange-coral
$orange-peach: #ffc298;
$orange-linen: #ffe9db;

$pink-oyster: #f7918e;
// Lighter versions of pink-oyster
$pink-apricot: #fbc3c2;
$pink-cinderella: #feecec;

$gradient-main: linear-gradient(30deg, $blue-scooter, $pink-oyster 64%, $orange-coral 90%);

$grey-metal: #333335;
$grey-dust: #5b5b5e;
$grey-boulder: #6d6d70;
$grey-manatee: #828284;
$grey-stardust: #99999b;
$grey-french: #c6c6cc;
$grey-ghost: #dddde2;
$grey-athens: #f4f4f7;

$search_font_color: $black-shark;
//Font Variables
$braze-light: 'Sailec W00 Light', Arial, Helvetica, sans-serif;
$braze-light-oblique: 'Sailec W00 Light Italic', Arial, Helvetica, sans-serif;
$braze-thin: 'Sailec W00 Thin', Arial, Helvetica, sans-serif;
$braze-regular: 'Sailec W00 Regular', Arial, Helvetica, sans-serif;
$braze-regular-oblique: 'Sailec W00 Italic', Arial, Helvetica, sans-serif;
$braze-heavy: 'Sailec W00 Demi', Arial, Helvetica, sans-serif;
$braze-heavy-oblique:'Sailec W00 Demi Italic', Arial, Helvetica, sans-serif;
$braze-medium: 'Sailec W00 Medium', Arial, Helvetica, sans-serif;
$braze-medium-oblique: 'Sailec W00 Medium Italic', Arial, Helvetica, sans-serif;
$braze-black: 'Sailec W00 Bold', Arial, Helvetica, sans-serif;
$braze-black-oblique: 'Sailec W00 Bold Italic', Arial, Helvetica, sans-serif;

@import 'search_page.scss';