.swiper{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F4F4F7;
}
.swiper-description {
  width: 100%;
  padding: 0 10%;
  p {
    font-size: 16px;
  }
}
.swiper-slide {
  text-align: left;
  font-size: 18px;
  background-color: #F4F4F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 30px 0px 45px 0px;
  .swiper-image {
    border: none !important;
  }
  @media (min-width: $window-medium-px) {
    .swiper-image {
      max-width: 80% !important;
    }
  }
}
.swiper-pagination-bullets {
  padding-top: 15px;
  bottom: 5px !important;
}
.swiper-button-next {
  padding: 40px 20px 40px 30px !important;
  color: $braze-purple;
}
.swiper-button-prev {
  padding: 40px 30px 40px 20px !important;
  color: $braze-purple;
}
