---
layout: default
hide_feedback: true
hide_binary_feedback: false
---
{%- comment -%} Assigned variables first by page, then by layout {%- endcomment -%}
{%- assign hide_nav = page.hide_nav -%}
{%- assign hide_toc = page.hide_toc -%}
{%- assign hide_bottom_nav = page.hide_bottom_nav -%}
{%- assign hide_breadcrumb = page.hide_breadcrumb -%}
{%- assign hide_feedback = page.hide_feedback -%}
{%- unless hide_nav -%}
{%- assign hide_nav = layout.hide_nav -%}
{%- endunless -%}
{%- unless hide_toc -%}
{%- assign hide_toc = layout.hide_toc -%}
{%- endunless -%}
{%- unless hide_bottom_nav -%}
{%- assign hide_bottom_nav = layout.hide_bottom_nav -%}
{%- endunless -%}
{%- unless hide_breadcrumb -%}
{%- assign hide_breadcrumb = layout.hide_breadcrumb -%}
{%- endunless -%}
{%- unless hide_feedback -%}
{%- assign hide_feedback = layout.hide_feedback -%}
{%- endunless -%}



{% unless hide_nav %}
<!-- button id="sidebar_toggle" class="btn btn-info d-print-none" data-toggle="collapse" aria-expanded="true" href="#nav_bar" >
   <i class="fas"></i>
</button -->
<div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 d-print-none collapse d-md-block" id="nav_bar"  >
  <div id="nav_col" class="  ">
  {% include left_nav_menu.html  %}
  </div>
</div>
{% endunless %}

<div class="col d-print-block " id="main_content" >

    <div id="article-main">
    <div id="content_start"></div>
    {%- unless hide_breadcrumb -%}
    <div id="breadcrumb">
    </div>
    {%- endunless -%}
    
    {%- comment -%} Add Copy for LLM button for developer guide pages {%- endcomment -%}
    {%- if page.collection == 'developer_guide' -%}
    <div class="copy-for-llm-page-header">
      {% include copy_for_llm_button.html %}
    </div>
    {%- endif -%}
    
    {{ content }}

    </div>

    {%- unless hide_bottom_nav -%}
    <div id="bottom_nav" >
      {%- unless hide_feedback -%}
      {% include feedback.html  %}
      {%- endunless -%}
      <!-- div class="gradient-line" ></div -->
      <div id="bottom_page_nav">
        <a id="page_prev_link"><div id="page_prev" ></div></a>
        <a id="page_next_link"><div id="page_next" ></div></a>
      </div>
    </div>

    {%- endunless -%}



    {% include footer.html %}
</div>

<div class="d-none d-lg-block col-lg-2 d-print-none" id="toc_col">
  <div class="gitedit_div" style="margin-top: 30px;padding-left: 5px;">
      <a href="{{site.github_baseurl}}{{page.relative_path }}" class="extignore" target="_blank">
          <img src="{{site.baseurl}}/assets/img/{{site.github_icon}}" alt="Github" /> &nbsp; {{ site.data.i18n[site.language]['edit_github'] | default: "Edit this page on GitHub" }}
      </a>
  </div>
  {%- unless hide_toc -%}
  <div id="toc" ></div>
  {%- endunless -%}

  {% unless hide_binary_feedback -%}
  {% include binary_feedback.html  %}
  {% endunless -%}
</div>
