---
layout: default

---



{%- comment -%} Assigned variables first by page, then by layout {%- endcomment -%}
{%- assign hide_nav = page.hide_nav -%}


{%- assign hide_bottom_nav = page.hide_bottom_nav -%}
{%- assign hide_breadcrumb = page.hide_breadcrumb -%}
{%- assign hide_feedback = page.hide_feedback -%}
{%- unless hide_nav -%}
{%- assign hide_nav = layout.hide_nav -%}
{%- endunless -%}

{%- unless hide_bottom_nav -%}
{%- assign hide_bottom_nav = layout.hide_bottom_nav -%}
{%- endunless -%}
{%- unless hide_breadcrumb -%}
{%- assign hide_breadcrumb = layout.hide_breadcrumb -%}
{%- endunless -%}
{%- unless hide_feedback -%}
{%- assign hide_feedback = layout.hide_feedback -%}
{%- endunless -%}



{% unless hide_nav %}
<div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 d-print-none collapse d-md-block" id="nav_bar"  >
  <div id="nav_col" class="  ">
  {% include left_nav_menu.html  %}
  </div>
</div>
{% endunless %}

<div class="col d-print-block " id="main_content" >

    <div id="featured_main">

    {%- unless hide_breadcrumb -%}
    <div id="breadcrumb">
    </div>
    {%- endunless -%}


    <h1> {{ page.guide_top_header }} </h1>
    <p>  {{ page.guide_top_text | markdownify }} </p>



    <h2 class="guide_featured_title"> {{ page.guide_featured_title }} </h2>
    <div id="guide_featured_list">

      {%- for menu_list in page.guide_featured_list  -%}
        {%- if menu_list.link -%}
        <a href="{{ menu_list.link | multi_lang }}">
            {%- endif %}
          <div id="{{ menu_list.name | handle }}" class="guide_item">
            {%- if menu_list.fa_icon -%}
            <i class="{{menu_list.fa_icon}}"></i>
            {%- else -%}
              {%- if menu_list.image -%}
              <img src="{{site.baseurl}}{{ menu_list.image}} " />
              {%- endif -%}
            {%- endif -%}
            <div class="menu_description">
                {{ menu_list.name }}
              </div>
          </div>
            {%- if menu_list.link -%}
        </a>
        {%- endif %}
      {%- endfor -%}
    </div>

    {{ content }}

  </div>

    {%- unless hide_bottom_nav -%}
    <div id="bottom_nav" >
      {%- unless hide_feedback -%}
      {% include feedback.html  %}
      {%- endunless -%}
      <!-- div class="gradient-line" ></div -->
    </div>

    {%- endunless -%}

    {% include footer.html class="footer_dev" %}
</div>
