---
layout: default
hide_toc: true
hide_bottom_nav: true
hide_breadcrumb: true
---



{%- comment -%} Assigned variables first by page, then by layout {%- endcomment -%}
{%- assign hide_nav = page.hide_nav -%}


{%- assign hide_bottom_nav = page.hide_bottom_nav -%}
{%- assign hide_breadcrumb = page.hide_breadcrumb -%}
{%- assign hide_feedback = page.hide_feedback -%}
{%- unless hide_nav -%}
{%- assign hide_nav = layout.hide_nav -%}
{%- endunless -%}

{%- unless hide_bottom_nav -%}
{%- assign hide_bottom_nav = layout.hide_bottom_nav -%}
{%- endunless -%}
{%- unless hide_breadcrumb -%}
{%- assign hide_breadcrumb = layout.hide_breadcrumb -%}
{%- endunless -%}
{%- unless hide_feedback -%}
{%- assign hide_feedback = layout.hide_feedback -%}
{%- endunless -%}



{% unless hide_nav %}
<div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 d-print-none collapse d-md-block" id="nav_bar"  >
  <div id="nav_col" class="  ">
  {% include left_nav_menu.html  %}
  </div>
</div>
{% endunless %}

<div class="col d-print-block " id="main_content" >

    <div id="help-main">


    <h1> {{ page.help_top_header }} </h1>

    <div id="help_step1">
      <h3>STEP 1</h3>
      <h4>
        Check the Braze Status Monitor
      </h4>


      <a id="help_status-indicator" href="https://braze.statuspage.io" target="_blank">
        <div id="help_status" class="help_info">
              <div class="help_color-dot"></div>
              <div class="help_status_description">Checking Status</div>
        </div>
      </a>

      <script type="text/javascript">
        function loadStatusPage() {
          var lsp = document.createElement('script');
          lsp.type = 'text/javascript';
          lsp.async = true;
          lsp.src = '//statuspage-production.s3.amazonaws.com/se-v2.js';
          lsp.onload = function() {
            if (typeof(StatusPage) !== "undefined") {
              var sp = new StatusPage.page({page: '{{site.status_io_key}}'});
              sp.status({
                success: function (data) {
                  var sd = document.getElementById('help_status-indicator');
                  sd.getElementsByClassName('help_status_description')[0].textContent = data.status.description;
                  sd.getElementsByClassName('help_color-dot')[0].className = "help_color-dot " + data.status.indicator;
                }
              });
            }
          };

          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(lsp, s);
        };

        window.addEventListener('load', loadStatusPage, false);
      </script>

    </div>

    <div id="help_step2">
      <h3>STEP 2</h3>
      <h4>
        Use Our Resources
      </h4>
      <div id="help_list" >
      {%- for help_list in page.resources_list  -%}
        {%- if help_list.link -%}
        <a href="{{ help_list.link }}">
          {%- endif %}
      <div id="{{ help_list.name | handle }}" class="help_item">
        <div class="help_img" >
        {%- if help_list.image -%}
        <img src="{{site.baseurl}}{{ help_list.image}} " />
        {%- endif -%}
        </div>
        <div class="help_info">
          <div class="help_name">
              {{ help_list.name }}
          </div>
        </div>
      </div>
        {%- if help_list.link -%}
        </a>
        {%- endif %}
      {%- endfor -%}
    </div>
  </div>

    <div id="help_search">
      <h3>STEP 3</h3>
      <h4>
        Search for What You Need
      </h4>
      <form id="help-search-form"  action="{{site.baseurl}}/search/" method="get" class="form-inline">
        <div class="input-group ">
          <input type="text" class="form-control" id="help-menu_search"  name="q" placeholder="Search Braze documentation" aria-label="Search">
          <button class="btn">
              <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
    </form>
    </div>


  </div>

    {%- unless hide_bottom_nav -%}
    <div id="bottom_nav" >
      {%- unless hide_feedback -%}
      {% include feedback.html  %}
      {%- endunless -%}
    </div>

    {%- endunless -%}

    {% include footer.html class="footer_help" %}
</div>
