# Adds labels to pull requests based on certain conditions, such as adding the 'Deploy' label.
name: Add Label

on:
  pull_request:
    # add more types if needed, but only the minimum required for each job in the workflow. 
    types: [closed]  # Triggers when the PR is closed (whether it's merged or not)

jobs:
  add-deploy-label:
    # Only run if the PR is merged, and the base branch == 'main' and head branch == 'develop'
    if: github.event.pull_request.merged == true &&
        github.event.pull_request.base.ref == 'main' &&
        github.event.pull_request.head.ref == 'develop'
    runs-on: ubuntu-latest
    steps:
      - name: "Adding 'Deploy' label"
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: Deploy
